/*doc
---
title: Color
name: colors
category: 1.global
---

### Paleta de colores
<br>
<div class="grid">
    <div class="grid-col -col4">
        <div class="st-box white">$white</div>
        <div class="st-box white-5">$white-5</div>
        <div class="st-box white-10">$white-10</div>
        <div class="st-box white-15">$white-15</div>
    </div>
    <div class="grid-col -col4">
        <div class="st-box grey">$grey</div>
        <div class="st-box grey-5">$grey-5</div>
        <div class="st-box grey-10">$grey-10</div>
        <div class="st-box grey-20">$grey-20</div>
        <div class="st-box grey-30">$grey-30</div>
        <div class="st-box grey-40">$grey-40</div>
        <div class="st-box grey-50">$grey-50</div>
    </div>
    <div class="grid-col -col4">
        <div class="st-box dark-grey-5">$dark-grey-5</div>
        <div class="st-box dark-grey-10">$dark-grey-10</div>
        <div class="st-box dark-grey-15">$dark-grey-15</div>
        <div class="st-box dark-grey-20">$dark-grey-20</div>
        <div class="st-box dark-grey-25">$dark-grey-25</div>
    </div>
</div>
<div class="grid">
    <div class="grid-col -col4">
        <div class="st-box color-variable-warning">$warning</div>
        <div class="st-box color-variable-success">$success</div>
        <div class="st-box color-variable-info">$info</div>
        <div class="st-box color-variable-error">$error</div>
    </div>
    <div class="grid-col -col4">
        <div class="st-box color-variable-confirmed">$confirmed</div>
        <div class="st-box color-variable-unconfirmed">$unconfirmed</div>
        <div class="st-box color-variable-in-house">$in-house</div>
        <div class="st-box color-variable-checked-out">$checked-out</div>
        <div class="st-box color-variable-blocked">$blocked</div>
    </div>
</div>

*/

// Color definitions
$white:                         #FFFFFF;
$login:                         #b4bac6;
$desk:                          #919eae;
$lighter-brown:                 #eaead2;
$yellow:                        #FFF320;
$light-green:                   #9DD426;
$green:                         #82B80D;
$dark-green:                    #52991f;
$light-blue:                    #00aae8;
$blue:                          #4A90E2;
$note:                          #708090;
$blue-grey:                     #4f6496;
$dark-blue:                     #3a4a6e;
$violet:                        #5f6dd7;
$magenta:                       #ff00c5;
$cancel:                        #E07373;
$red:                           #ff202a;
$crimson:                       #ce3833;
$orange:                        #f37d29;
$banana:                        #ffae00;
$light-brown:                   #c3a76d;
$olive:                         #a1a140;
$green-grey:                    #999970;
$brown:                         #5D4513;
$grey:                          #4e4e4e;
$black:                         #000000;


// Color Palettes

$grey-5:                        lighten($grey, 5); // #5B5B5B
$grey-10:                       lighten($grey, 10); // #686868
$grey-20:                       lighten($grey, 20); // #818181
$grey-30:                       lighten($grey, 30); // #9B9B9B
$grey-40:                       lighten($grey, 40); // #B4B4B4
$grey-50:                       lighten($grey, 50); // #CECECE

$dark-grey-5:                   darken($grey, 5); // #414141
$dark-grey-10:                  darken($grey, 10); // #353535
$dark-grey-15:                  darken($grey, 15); // #282828
$dark-grey-20:                  darken($grey, 20); // #1B1B1B
$dark-grey-25:                  darken($grey, 25); // #0E0E0E

$white-5:                       darken($white, 5); // #F2F2F2
$white-10:                      darken($white, 10); // #E6E6E6
$white-15:                      darken($white, 15); // #D4D4D4


// Buttons

$primary-color:                 darken($orange, 5);
$primary-shadow-color:          lighten($primary-color, 20%);
$primary-border-color:          adjust_hue(darken($primary-color, 4), 353);

$secondary-color:               $green;
$secondary-border-color:        darken($secondary-color, 18);

$tertiary-color:                $grey-40;
$tertiary-border-color:         adjust_hue(desaturate(darken($grey-40, 30), 28), 360);

$header-color:                  $dark-blue;
$dark-header-color:             darken($dark-blue, 10);
$dark-header-border-color:      darken($dark-blue, 5);

$login-color:                   $login;
$login-border-color:            saturate(darken($login-color, 7), 1);

$cancel-color:                  $cancel;
$cancel-border-color:           darken($cancel-color, 18);

$delete-color:                  $crimson;
$delete-border-color:           darken($delete-color, 18);

$disabled-color:                $white-15;
$disabled-border-color:         darken($disabled-color, 12);

// Icons
$default-icon:                  $grey-10;
$header-icon:                   #03071b;
$header-icon-active:            $white;

$notification-number-color:     rgba($white, .25);;
$link:                          darken($orange, 4);
$reservation-date:              #D17100;
$tab-label:                     $lighter-brown;

// Alerts
$warning:                       $yellow;
$success:                       $green;
$info:                          $blue;
$error:                         $red;

// Reservation states
$confirmed:                     $dark-green;
$confirmed-resize:              lighten($dark-green, 20%);
$unconfirmed:                   $light-blue;
$unconfirmed-resize:            lighten($light-blue, 20%);
$in-house:                      $violet;
$in-house-resize:               lighten($violet, 20%);
$checked-out:                   $magenta;
$checked-out-resize:            lighten($magenta, 20%);
$blocked:                       $crimson;
$blocked-resize:                lighten($crimson, 20%);

// Pay states
$paid:                          $dark-green;
$paid-resize:                   lighten($paid, 20%);
$debt:                          $crimson;
$debt-resize:                   lighten($debt, 20%);

// Guest states
$not-checked-in:                $light-blue;
$in-house:                      $violet;
$checked-out:                   $magenta;
