/* doc
---
title: Keyframes
name: keyframes
category: 1.global
---

*/

/*------------------------------------*\
    $KEYFRAMES
\*------------------------------------*/

@keyframes glow {
    0% {
        @include transform(scale3d(0.3, 0.3, 1));
    }
    25%,
    50% {
        opacity: 1;
    }
    100% {
        @include transform(scale3d(1.2, 1.2, 1));
        opacity: 0;
    }
}

@include keyframes(spin) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}

@keyframes increase {
    0% {}
    25%,
    50% {
        width: 24px;
        height: 24px;
        @include transform(translateY(-2px));
    }
    100% {
        width: 18px;
        height: 18px;
    }
}

@-webkit-keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-110%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        transform: translate3d(110%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0);
  }
}
