/* doc
---
title: Mixins
name: mixins
category: 1.global
---

*/

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

@mixin _assert-ascending($map, $map-name) {
    $prev-key: null;
    $prev-num: null;
    @each $key, $num in $map {
        @if $prev-num == null {
        // Do nothing
        } @else if not comparable($prev-num, $num) {
            @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
        } @else if $prev-num >= $num {
            @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
        }
        $prev-key: $key;
        $prev-num: $num;
    }
}

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");

/**
 * Change text color depending on background color
 */

@function text-color-depending-on-background($color) {
  @if (lightness($color) > 50) {
    @return $grey-900; // Lighter background, return dark color
  } @else {
    @return $grey-100; // Darker background, return light color
  }
}

/**
 * Calculate rems. $target = pixel size. $context = base pixel size
 */

@function calc-rem($target, $context: $base-font-size) {
    @return ($target / $context) * 1rem;
}


/**
 * Output vendor properties
 */

@mixin vendor($property, $value...) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
}


/**
 * Color mixin
 */

@mixin color($color) {
    color: $color;
    a {
        color: $color;
    }
}

@mixin placeholder($color, $weight: lighter, $font-family: auto) {
    &:-moz-placeholder {
        color: $color;
        font-weight: $weight;
        font-family: $font-family;
    }
    &::-webkit-input-placeholder {
        color: $color;
        font-weight: $weight;
        font-family: $font-family;
    }
}

@mixin tr {
    & > tbody > tr,
    > tr {
        @content;
    }
}

@mixin td {
    & > tbody > tr > td,
    > tr > td {
        @content;
    }
}

@mixin th {
    & > thead > tr > th,
    > tbody > tr > th,
    > tr > th {
        @content;
    }
}

@mixin current-section-highlight($section) {
    &.current-#{$section} {
        & > li.link-#{$section} {
            box-shadow: 1px 1px 4px $blue-900 inset;
            @include background-image(linear-gradient($blue-900, $blue-800));
        }
    }
}

@mixin border-image($value) {
    @include experimental(border-image, $value, -moz, -webkit, not -o, not -ms, not -khtml, official);
}

@mixin striped-table-rows($even-color, $odd-color) {
    & > tr,
    & > tbody > tr {
        &:nth-child(2n+1) {
            & > td {
                background: $even-color;
            }
        }
        &:nth-child(2n) {
            & > td {
                background: $odd-color;
            }
        }
    }
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin button($background-color, $border-color, $text-color, $intensity: 5%) {
    background-color: $background-color;
    color: $text-color;
    border-color: transparent;
    &:hover {
        background-color: darken($background-color, 5%);
    }
    &:active {
        background-color: darken($background-color, 10%);
    }
    &.-alternate {
        @include background(transparent);
        color: $border-color;
        border-color: $border-color;
        &:hover,
        &:active {
            background-color: darken($background-color, 5%);
            color: $text-color;
            border-color: transparent;
        }
    }
}

@mixin gradient($background-color, $intensity: 8%) {
    @include background-image(linear-gradient($background-color, darken($background-color, $intensity)));
}

@mixin inverse-gradient($background-color, $intensity: 5%) {
    @include background-image(linear-gradient(darken($background-color, $intensity), $background-color));
}
