/* doc
---
title: Placeholders
name: placeholders
category: 1.global
---

*/

/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/

%inline-flex-sa-center {
    @include display(inline-flex);
    @include justify-content(space-around);
    @include align-items(center);
}

%inline-flex-sb-center {
    @include display(inline-flex);
    @include justify-content(space-between);
    @include align-items(center);
}

%inline-flex-fs-center {
    @include display(inline-flex);
    @include justify-content(flex-start);
    @include align-items(center);
}

%inline-flex-center-center {
    @include display(inline-flex);
    @include justify-content(center);
    @include align-items(center);
}

%flex-sa {
    @include display(flex);
    @include justify-content(space-around);
}

%flex-sa-center {
    @include display(flex);
    @include justify-content(space-around);
    @include align-items(center);
}

%flex-sb-fs {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(flex-start);
}

%flex-sa-fs {
    @include display(flex);
    @include justify-content(space-around);
    @include align-items(flex-start);
}

%flex-sb-center {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
}

%flex-sb-bottom {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(flex-end);
}

%flex-sb-stretch {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(stretch);
}

%flex-fs-center {
    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(center);
}

%flex-fs-fs {
    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(flex-start);
}

%flex-center-fs {
    @include display(flex);
    @include justify-content(center);
    @include align-items(flex-start);
}

%flex-fe-center {
    @include display(flex);
    @include justify-content(flex-end);
    @include align-items(center);
}

%flex-center-center {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
}

%flex-column-reverse {
    @include display(flex);
    @include flex-direction(column-reverse);
}

%status {
    color: $white;
    font-size: 11px;
    vertical-align: middle;
    border-right: 0;
    cursor: move;
    opacity: 1;
    @include transition(background .15s ease-in-out);
    @include transition(opacity .15s ease-in-out);
}

// Classes

.flex-sb-center {
    @extend %flex-sb-center;
}

