/* doc
---
title: Variables
name: variables
category: 1.global
---

*/

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// Media queries

// Min
$xs-min: 480px;
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1200px;

// Max
$xs-max: $xs-min - 1;
$sm-max: $sm-min - 1;
$md-max: $md-min - 1;
$lg-max: $lg-min - 1;


$screen-xs-min: new-breakpoint(min-width $xs-min);
$screen-xs-max: new-breakpoint(max-width $xs-max);

$screen-sm-min: new-breakpoint(min-width $sm-min);
$screen-sm-max: new-breakpoint(max-width $sm-max);

$screen-md-min: new-breakpoint(min-width $md-min);
$screen-md-max: new-breakpoint(max-width $md-max);

$screen-lg-min: new-breakpoint(min-width $lg-min);
$screen-lg-max: new-breakpoint(max-width $lg-max);
