/*doc
---
title: Z-index
name: z-index
category: 1.global
---

### Main Layers

Prioritization order, from top to bottom

<div class="grid">
    <div class="grid-col -col3 -center main-layers">
        <div class="st-box">index($layers, alert)</div>
        <div class="st-box">index($layers, modal)</div>
        <div class="st-box">index($layers, overlay)</div>
        <div class="st-box">index($layers, lightbox)</div>
        <div class="st-box">index($layers, menu)</div>
        <div class="st-box">index($layers, hint)</div>
        <div class="st-box">index($layers, message)</div>
    </div>
</div>

<div class="grid">
    <div class="grid-col -col3">
        <h5>Form layers</h5>
        <div class="grid">
            <div class="grid-col form-layers">
                <div class="st-box">index($form-layers, form-error)</div>
                <div class="st-box">index($form-layers, select2-container)</div>
            </div>
        </div>
    </div>
    <div class="grid-col -col3">
        <h5>Hint layers</h5>
        <div class="grid">
            <div class="grid-col hint-layers">
                <div class="st-box">index($hint-layers, hover)</div>
                <div class="st-box">index($hint-layers, before)</div>
                <div class="st-box">index($hint-layers, after)</div>
            </div>
        </div>
    </div>
    <div class="grid-col -col3">
        <h5>Pagination layers</h5>
        <div class="grid">
            <div class="grid-col pagination-layers">
                <div class="st-box">index($pagination-layers, enabled)</div>
                <div class="st-box">index($pagination-layers, disabled)</div>
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="grid-col -col3">
        <h5>Lightbox layers</h5>
        <div class="grid">
            <div class="grid-col lightbox-layers">
                <div class="st-box">index($lightbox-layers, after)</div>
                <div class="st-box">index($lightbox-layers, before)</div>
            </div>
        </div>
    </div>
    <div class="grid-col -col3">
        <h5>Notification layers</h5>
        <div class="grid">
            <div class="grid-col notification-layers">
                <div class="st-box">index($notification-layers, number)</div>
            </div>
        </div>
    </div>
</div>

*/

$layers: calendar-content, calendar-navigation, message, social-bar, color-scheme, footer, header, add-nights, menu, lightbox, overlay, modal, alert;

$calendar-layers: body, header;
$calendar-status: normal, hover;
$stay: stay-data, stay;
$negative-z-index: -1; // Hided
$form-layers: select2-container, form-error;
$hint-layers: after, before;
$pagination-layers: disabled, enabled;
$lightbox-layers: loader, iframe, close-icon;
$notification-layers: number, icon;
