.account {

    &-user {
        color: $white;
        font-size: 14px;
        display: block;
        text-align: right;
        line-height: 1.2;
        margin-bottom: 1px;
        max-width: 140px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:hover, &:active {
            color: rgba($white, .8);
        }
    }

    &-hostel {
        color: $grey-40;
        font-size: 12px;
        text-align: right;
        display: block;
        max-width: 140px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:hover, &:active {
            color: rgba($grey-50, .8);
        }
    }
}
