/*doc
---
title: Activity List
name: activity-list
category: 4.components
---

```html_example
<div class="grid-col -col4">
    <div class="activity-list">
        <div class="activity-list-header">
            <div class="activity-list-heading">Actividad</div>
        </div>
        <ul class="activity-list-content">
            <li class="activity">
                <div class="activity-header">
                    <a href="">397</a>
                    <span>6175083492</span>
                    <span>lauti Moljo</span>
                </div>
                <p class="activity-description">Discounted US.00</p>
                <p class="activity-timestamp">Abr. 4, 2016, 9:48 p.m.</p>
            </li>
            <li class="activity">
                <div class="activity-header">
                    <a href="">397</a>
                    <span>6175083492</span>
                    <p>lauti Moljo</p>
                </div>
                <p class="activity-description">Discounted US.00</p>
                <p class="activity-timestamp">Abr. 4, 2016, 9:48 p.m.</p>
            </li>
            <li class="activity">
                <div class="activity-header">
                    <a href="">397</a>
                    <span>6175083492</span>
                    <span>lauti Moljo</span>
                </div>
                <p class="activity-description">Discounted US.00</p>
                <p class="activity-timestamp">Abr. 4, 2016, 9:48 p.m.</p>
            </li>
            <li class="activity">
                <div class="activity-header">
                    <a href="">397</a>
                    <span>6175083492</span>
                    <span>lauti Moljo</span>
                </div>
                <p class="activity-description">Discounted US.00</p>
                <p class="activity-timestamp">Abr. 4, 2016, 9:48 p.m.</p>
            </li>
            <li class="activity">
                <div class="activity-header">
                    <a href="">397</a>
                    <span>6175083492</span>
                    <p>lauti Moljo</p>
                </div>
                <p class="activity-description">Discounted US.00</p>
                <p class="activity-timestamp">Abr. 4, 2016, 9:48 p.m.</p>
            </li>
            <li class="activity">
                <div class="activity-header">
                    <a href="">397</a>
                    <span>6175083492</span>
                    <span>lauti Moljo</span>
                </div>
                <p class="activity-description">Discounted US.00</p>
                <p class="activity-timestamp">Abr. 4, 2016, 9:48 p.m.</p>
            </li>
            <li class="activity">
                <div class="activity-header">
                    <a href="">397</a>
                    <span>6175083492</span>
                    <span>lauti Moljo</span>
                </div>
                <p class="activity-description">Discounted US.00</p>
                <p class="activity-timestamp">Abr. 4, 2016, 9:48 p.m.</p>
            </li>
        </ul>
    </div>
</div>
```

*/


.activity {
    list-style-type: none;
    border-bottom: 1px solid $white-10;
    padding: 0 0 13px 4px;
    margin-bottom: 17px;

    &-header {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    &-description {
        margin-bottom: 8px;
    }

    &-timestamp {
        color: $grey-20;
        font-size: 11px;
        margin-bottom: 0;
    }

    &-list {
        padding: 15px 20px 0 0;

        &-header {
            @extend %flex-sb-center;
            padding: 0 5px 5px 0;
            border-bottom: 1px solid $white-10;
        }

        &-heading {
            font-size: 16px;
            font-weight: bold;
            color: $brown;
        }

        &-content {
            margin: 15px 0 0;
            height: 549px;
            overflow-y: auto;
        }
    }

    &-empty {
        font-size: 14px;
        max-width: 180px;
        color: $grey;
        line-height: 1.4em;
    }
}
