/*doc
---
title: Actions
name: actions
category: 4.components
---

*/

.action {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;

    &-container {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;

    }

    &.-resize {
        width: 15px;
        cursor: ew-resize;
    }

    &.-create {

        &:hover {
            background-color: lighten($unconfirmed-resize, 25);
            cursor: se-resize;
            z-index: 200 + index($calendar-status, hover);
        }
    }
}

