/*doc
---
title: Alerts
name: alerts
category: 4.components
---

```html_example
<div class="alert -success">
    <svg class="icon -alert">
        <use xlink:href="assets/images/svg/checkmark.svg#checkmark" />
    </svg>
    <div class="alert-message">Hostel Management Promo Activated! You'll be getting 3 months at 50% off + personalized 1-1 phone support during your setup (HM members exclusive).</div>
    <svg class="alert-close">
        <use xlink:href="assets/images/svg/close.svg#close" />
    </svg>
</div>
```

```html_example
<div class="alert -error">
    <svg class="icon -alert">
        <use xlink:href="assets/images/svg/exclamation.svg#exclamation" />
    </svg>
    <div class="alert-message">Your Myallocator username or password are incorrect. Please correct them below.</div>
    <svg class="alert-close">
        <use xlink:href="assets/images/svg/close.svg#close" />
    </svg>
</div>
```

```html_example
<div class="alert -warning">
    <svg class="icon -alert">
        <use xlink:href="assets/images/svg/exclamation-dark.svg#exclamation-dark" />
    </svg>
    <div class="alert-message">Hostel Management Promo Activated! You'll be getting 3 months at 50% off + personalized 1-1 phone support during your setup (HM members exclusive).</div>
    <svg class="alert-close">
        <use xlink:href="assets/images/svg/close.svg#close" />
    </svg>
</div>
```

```html_example
<div class="alert -info">
    <svg class="icon -alert">
        <use xlink:href="assets/images/svg/exclamation.svg#exclamation" />
    </svg>
    <div class="alert-message">Your Myallocator username or password are incorrect. Please correct them below.</div>
    <svg class="alert-close">
        <use xlink:href="assets/images/svg/close.svg#close" />
    </svg>
</div>
```

*/

.alert {
    max-width: 740px;
    position: fixed;
    top: 62px;
    padding: 15px 40px 15px 50px;
    border-radius: 6px;
    text-decoration: none;
    line-height: 1.6;
    box-shadow: 0px 4px 8px $grey-20;
    min-height: 50px;
    margin: 0 20px;
    z-index: index($layers, alert);
    @include color($white);
    @include media($screen-sm-min) {
        width: 712px;
        left: 50%;
        margin-left: -356px;
    }

    &-container {
        @extend %flex-center-fs;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
    }

    &-heading {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color: $white;
    }

    &-message {
        font-size: 14px;
        line-height: 1.5;
    }

    &-close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 14px;
        height: 14px;
        cursor: pointer;
        fill: $white;
    }

    &.-brochure {
        top: 153px;
    }

    &.-success {
        background: $success;
    }

    &.-error {
        background: $error;
    }

    &.-warning {
        @include color($grey);
        background: $warning;

        .alert-heading {
            @include color($grey);
        }

        .alert-close {
            fill: $grey;
        }
    }

    &.-info {
        background: $info;
    }

    & + & {
        top: 124px;
    }
}

