/*doc
---
title: Articles
name: articles
category: 4.components
---

```html_example
<div class="article">
    <div class="article-image">
        <img class="img-responsive" src="http://placekitten.com/g/300/150" alt="Lorem pixel for article image">
    </div>
    <div class="article-heading">
        <h4>First article</h4>
    </div>
    <div class="article-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
</div>
```

*/

.article {
    margin: 0 1em 4em;
    @include flex-basis(20em);
    @include flex-grow(1);
    @include media($screen-sm-min) {
        width: 60%;
    }

    &:last-child {
        margin-bottom: 50px;
    }

    &-image {
        margin-bottom: 30px;

        img {
            max-width: 100%;
            height: auto;
            width: auto;
            vertical-align: middle;
        }

        .-featured & {
            max-height: 190px;
            overflow: hidden;
        }
    }

    &-heading {
        font-size: 1.5em;
        padding: 30px 0 20px;
        line-height: 1.3;
        border-top: 1px solid $grey-50;
        box-shadow: 0 -1px 0 $white-10;
        color: inherit;
        font-family: $roboto;
        @include media($screen-sm-min) {
            font-size: 2em;
            padding: 50px 0 40px;
        }

        .-featured & {
            padding: 18px 20px;
            font-size: 1.3em;
        }

        .post & {
            color: $grey;
        }
    }

    &-meta {
        @extend %flex-sb-fs;
        margin-bottom: 25px;

        &-info {
            @extend %flex-sb-bottom;
            @include flex-direction(column);
        }
    }

    &-author {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: bold;

        &-photo {
            width: 50px;
            border-radius: 4px;
            height: 50px;
        }

        &-title {
            margin-bottom: 0;
            line-height: 1.2;
        }
    }

    &-category {
        color: $grey;
        text-align: right;
        line-height: 1.3;
        font-size: 14px;
        margin: 2px 0 8px;
    }

    &-read-time {
        flex-shrink: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 13px;
        color: $grey;
        font-style: italic;
    }

    &-copy {

        .-featured & {
            padding: 0 20px 20px;
        }

        .public & {
            color: $grey;
            margin-bottom: 0;
        }
    }

    &.-center {
        margin-right: auto;
        margin-left: auto;
    }

    &.-right {
        float: right;
    }

    &.-large {
        max-width: 380px;
    }

    &.-featured {
        background: $white;
        border-radius: 3px;
        outline: 1px solid $grey-20;
        opacity: .8;
        @include transition(opacity .2s ease-in 0s);

        &:hover {
            opacity: 1;
        }
    }
}
