/*doc
---
title: Box
name: box
category: 4.components
---

```html_example
<div class="box">
    <div class="box-header">
        <h2 class="box-heading">Box heading</h2>
    </div>
    <div class="box-content">
        <p>Box content</p>
    </div>
    <div class="box-footer">
        <p>Box footer</p>
    </div>
</div>
```

*/

.box {
    background: $white;
    padding: 30px 0;
    min-height: 500px;

    &-container {
        padding: 100px 30px 40px;
    }

    .public & {
        margin: 0 auto;
        @include media($screen-sm-min) {
            max-width: 940px;
        }
    }

    &-header {
        @extend %flex-fs-center;
        padding-bottom: 15px;
        position: relative;

        .note {
            margin: 0 0 0 20px;
        }

        &.-align-right {
            @extend %flex-fe-center;
        }

        &.-distributed {
            @extend %flex-sb-center;
        }

        &.-print {
            @extend %flex-sb-fs;
        }

        &.-with-filter {
            border: 0;
        }

        .primary-actions {
            @extend %flex-sb-bottom;
            @include flex-direction(column);
        }
    }

    &-heading {
        font-weight: bold;
        margin-right: 30px;
        font-size: 20px;

        .public & {
            color: $grey;
        }

        span {
            font-size: 0.75em;
            margin-left: 5px;
        }
    }

    &-content {
        padding: 25px 0 0;

        &.-charts {
            padding: 0;
        }

        &.-reports {
            padding: 20px;
        }
    }

    &-footer {
        border-top: 1px solid $white-10;
        padding-top: 25px;
        margin-top: 25px;
        @extend %flex-sb-center;

        &.-right {
            @extend %flex-fe-center;

            & > * {
                margin-left: 10px;
            }
        }

        .primary-actions, .secondary-actions {
            @extend %flex-sb-center;

            & > * {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &.-dashboard {
        padding: 30px 0;

        .box {

            &-header {
                background-color: $grey-50;
                border-radius: 6px 6px 0 0;
                border-bottom: 1px solid $grey;
                padding: 14px 12px 14px 20px;
            }

            &-heading {
                line-height: 1em;
                text-shadow: 0 1px $white;
            }
        }
    }

    &.-print {
        border: 0;
    }
}
