/*doc
---
title: Cards
name: cards
category: 4.components
---

```html_example
<div class="card-container">
    <div class="card">
        <div class="card-image">
            <img class="img-responsive" src="http://placekitten.com/g/300/150" alt="Lorem pixel for card image">
        </div>
        <div class="card-title">
            <h4 class="card-heading">First Card</h4>
        </div>
        <div class="card-copy">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img class="img-responsive" src="http://placekitten.com/g/300/150" alt="Lorem pixel for card image">
        </div>
        <div class="card-title">
            <h4 class="card-heading">Another Card</h4>
        </div>
        <div class="card-copy">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img class="img-responsive" src="http://placekitten.com/g/300/150" alt="Lorem pixel for card image">
        </div>
        <div class="card-title">
            <h4 class="card-heading">The Last Card</h4>
        </div>
        <div class="card-copy">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>
```

*/

.card {
    margin: 0 1em;
    max-width: 320px;
    @include flex-basis(20em);
    @include flex-grow(1);
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
        @extend %flex-sa-fs;
        @include flex-wrap(wrap);

        .card {
            max-width: 170px;
            @include media($screen-xs-min) {
                max-width: 40%;
            }
            @include media($screen-sm-min) {
                max-width: 28%;
                margin-bottom: 50px;
            }
            @include media($screen-md-min) {
                @include justify-content(center);
                max-width: 22%;
            }

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        &.-center {
            @include justify-content(center);
        }
    }

    &-image {

        img {
            max-width: 100%;
            height: auto;
            width: auto;
            vertical-align: middle;
        }
    }

    &-title {
        margin-bottom: 15px;

        .-featured & {
            padding: 20px 20px 0;
        }
    }

    &-heading {
        font-size: 1.3em;

        .public & {
            margin: 10px 0 5px;
            color: $grey;
            text-align: center;
        }
    }

    &-copy {

        .-featured & {
            padding: 0 20px 20px;
        }

        .public & {
            line-height: 1.6;
            font-size: 14px;
            color: $grey-20;
            margin-bottom: 0;
        }
    }

    &.-featured {
        background: $white;
        border: 1px solid rgba($black, .1);
        overflow: hidden;
        border-radius: 4px;
        margin-bottom: 25px;
        @include media($screen-sm-max) {
            margin: 0 auto 25px;
        }

        &:hover {
            border: 1px solid $login;
        }
    }

    &.-center {
        margin-right: auto;
        margin-left: auto;
    }

    &.-right {
        float: right;
    }

    &.-large {
        max-width: 380px;
    }

}
