.channels {

    &-network {
        margin: 20px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 70px;

        @include media($screen-xs-min) {
            width: 400px;
        }
        @include media($screen-sm-min) {
            margin: 40px auto 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 70px;
        }
    }

    &-list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 170px;
        width: 100%;

        @include media($screen-sm-min) {
            height: 200px;
        }
    }
}

.channel {
    position: relative;
    margin-top: 50px;
    width: 70px;

    img {
        max-width: 100%;
        height: auto;
    }

    &:nth-child(2) {
        margin-top: 0;
    }

    &:after {
        content: "";
        background-color: #e6e6e6;
        width: 7px;
        position: absolute;
        height: 63px;
        left: 33px;
        bottom: -80px;

        @include media($screen-sm-min) {
            height: 95px;
            left: 31px;
            bottom: -110px;
        }
    }

    &:first-child {
        &:after {
            transform: rotate(-45deg);
            bottom: -55px;
            left: 90px;
            height: 50px;

            @include media($screen-sm-min) {
                bottom: -90px;
                left: 120px;
                height: 100px;
            }
        }
    }

    &:last-child {
        &:after {
            transform: rotate(45deg);
            bottom: -50px;
            left: -2rem;
            height: 53px;

            @include media($screen-sm-min) {
                bottom: -86px;
                left: -53px;
                height: 100px;
            }
        }
    }

    &.-sync {
        &:after {
            background-color: #82B80D;
            transition: background-color 500ms linear 1.5s;
        }
    }

    &:not(.-sync) {

        &:after {
            transition: background-color 200ms linear;;
        }
    }

    &-manager {
        display: flex;
        justify-content: center;
        position: relative;

        &:before {
            content: "";
            background-color: #e6e6e6;
            width: 7px;
            height: 55px;
            position: absolute;
            left: 30px;
            bottom: -70px;
        }

        @include media($screen-sm-min) {
            &:after {
                content: "";
                background: url("/assets/images/marketing/myallocator.png") no-repeat;
                width: 152px;
                height: 28px;
                position: absolute;
                left: 87px;
                top: 18px;
            }
        }

        &.-sync {

            &:before {
                transition: background-color 500ms linear .5s;
                background-color: #82B80D;
            }

            img {
                transition: transform 500ms linear 1s;
                transform: rotate(1080deg);
            }
        }

        &:not(.-sync) {
            &:before {
                transition: background-color 200ms linear;
            }
            img {
                transition: none;
            }
        }
    }
}
