/*doc
---
title: Color Scheme Selector
name: color-scheme-selector
category: 4.components
---

```html_example
<div class="color-scheme-selector-container">
    <div class="wrapper">
        <div class="color-scheme-selector">
            <select id="action">
                <option value="export_selected_to_csv">Estado de Reservas</option>
                <option value="export_selected_to_csv">Estado de Pagos</option>
            </select>
        </div>
        <ul class="color-scheme">
            <li class="color-reference -reservation-tag status -unconfirmed">No confirmada</li>
            <li class="color-reference -reservation-tag status -confirmed">Confirmada</li>
            <li class="color-reference -reservation-tag status -in-house">In house</li>
            <li class="color-reference -reservation-tag status -checked-out">Checked out</li>
            <li class="color-reference -reservation-tag status -block">Blocked</li>
        </ul>
    </div>
</div>
```

*/

.color-scheme {
    @extend %inline-flex-fs-center;

    &-selector {
        width: 180px;
        margin-right: 20px;

        &-container {
            @include background(url("../images/background-logged-in.png"), $grey-50);
            padding: 10px;
            position: fixed;
            bottom: 27px;
            width: 100%;
            box-shadow: 2px -1px 2px rgba(black, .15);
            z-index: index($layers, color-scheme);
            height: 46px;
        }
    }

    .color-reference {
        padding: 4px 8px 2px;
        margin-right: 10px;
        list-style-type: none;
        border-radius: 2px;
        cursor: default;

        &.-reservation-tag {

            .payment-view & {
                display: none;
            }
        }

        &.-payment-tag {
            display: none;

            .payment-view & {
                display: block;
            }
        }
    }

    &-selector {
        display: inline-flex;
    }
}
