/*doc
---
title: Filters
name: filters
category: 4.components
---

```html_example
<div class="filters">
    <div class="filters-header">
        <div class="filters-heading">Filtros</div>
        <a href="" class="button -primary">Aplicar</a>
    </div>
    <div class="filters-list">
        <div class="form-group">
            <label for="">Payment Type</label>
            <select id="id_timezone" name="timezone" tabindex="-1">
                <option value="-1" selected="selected">--------</option>
                <option value="0">No hizo check-in</option>
                <option value="1">In-House</option>
                <option value="2">Hizo check-out</option>
            </select>
        </div>
    </div>
</div>
```

*/

.filters {
    flex: 0 0 25%;
    padding: 20px;
    overflow: hidden;
    border: 1px solid $grey-50;
    border-top: 0;

    &-container {
        @extend %flex-sb-stretch;
        background: $white-10;
        position: relative;
        border-top: 1px solid $grey-50;
    }

    &-header {
        @extend %flex-sb-center;
        margin-bottom: 30px;
    }

    &-heading {
        font-size: 18px;
        font-weight: bold;
        color: $grey;
    }

    &-tasks {
        @extend %flex-sb-center;
        padding: 8px 10px 8px 12px;
        border-right: 1px solid $grey-50;

        & > * {
            margin-bottom: 0;
        }
    }

    &-results {
        background: $white;
        flex-grow: 1;

        &-container {
            flex: 1 0 74%;
            display: flex;
            flex-direction: column;
        }
    }

    &-amount {
        @extend %flex-center-center;
        position: absolute;
        top: -41px;
        right: 0;
        font-size: 1.2em;
        padding: 10px 0 9px 14px;
        background: $white;

        &-heading {
            margin-left: 10px;
            font-weight: 400;
            font-size: 16px;
        }
    }
}

.filter-remove {
    font-size: 11px;
    color: $crimson;
    position: absolute;
    bottom: -19px;
    right: 0;
    letter-spacing: 0.02em;
    padding: 4px 0 4px 4px;
    cursor: pointer;
}
