/*doc
---
title: Graph Box
name: graph-box
category: 4.components
---

```html_example
<article class="graphs-box">
    <div class="graphs-box-header">
        <div class="graphs-box-heading">Análisis Huéspedes</div>
        <select id="guest" name="guest" tabindex="-1">
            <option value="0" selected="selected">Análisis de Edad</option>
            <option value="1">Análisis de Sexo</option>
        </select>
    </div>
    <div class="graphs-box-body"></div>
</article>
```

*/

.graphs-box {
    border-radius: 4px;
    border: 1px solid $white-10;
    overflow: hidden;

    &-header {
        @extend %flex-sb-center;
        padding: 5px 5px 5px 12px;
        background: $white-5;
    }

    &-heading {
        font-size: 16px;
        color: $grey;
    }

    &-body {
        padding: 10px;
        height: 230px;
        overflow: hidden;
        @extend %flex-sb-center;
    }
}
