/*doc
---
title: Guest card
name: guest-card
category: 4.components
---

```html_example
<div class="guest-card">
    <div class="media">
        <div class="media-figure">
            <svg class="icon -circle-user -big">
                <use xlink:href="../assets/images/svg/circle-user.svg#circle-user"></use>
            </svg>
            <span class="guest-label">Holder</span>
        </div>
        <div class="media-body">
            <div class="guest-name">Cameron Leslie Wierson</div>
            <div class="guest-email">cameron@bananadesk.com</div>
            <div class="grid">
                <div class="grid-col -col3of6">
                    <div class="form-group">
                        <label for="">Country</label>
                        <p>United States</p>
                </div>
                </div>
                <div class="grid-col -col2of6">
                    <div class="form-group">
                        <label for="">Phone</label>
                        <p>67898769879</p>
                </div>
                </div>
                <div class="grid-col -col1of6">
                    <div class="form-group">
                        <label for="">Gender</label>
                        <p>Male</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
```
*/

.guest {

    &-card {
        padding: 25px 25px 10px;
        background: $white;
        border-radius: 3px;
        position: relative;
        border: 1px solid $white-10;
    }

    &-label {
        position: absolute;
        top: 67px;
        left: 25px;
        font-size: 10px;
        padding: 5px 5px 4px 5px;
        background: $grey-10;
        color: $white-10;
        border-radius: 2px;
        text-transform: uppercase;
    }

    &-name {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 10px;
        color: $grey-10;
    }

    &-email {
        margin-bottom: 30px;
        font-size: 16px;
    }
}
