/*doc
---
title: Hints
name: hints
category: 4.components
---

```html_example
<span class="hint -top" data-hint="Tooltip FTW!">
    <a class="button -primary" href="#" role="button">Button</a>
</span>
<span class="hint -right" data-hint="Tooltip FTW!">
    <a class="button -secondary" href="#" role="button">Button</a>
</span>
<span class="hint -bottom" data-hint="Tooltip FTW!">
    <a class="button -tertiary" href="#" role="button">Button</a>
</span>
<span class="hint -left" data-hint="Tooltip FTW!">
    <a class="button -cancel" href="#" role="button">Button</a>
</span>
```
*/


/*-------------------------------------*\
    HINT.css - A CSS tooltip library
\*-------------------------------------*/

/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/lab/hint/
 *
 * Release under The MIT License
 *
 */

// root path needs to be specified because of a bug in grunt-sass
// hint-variables.scss
// Declares some variables used within the library.

$prefix: '-' !default; // Prefix for all classes. By default, BEM naming convention is used
$fontSize: 12px; // font size
$verticalPadding: 6px; // paddings
$horizontalPadding: 8px;
$tooltipHeight: $fontSize + 2 * $verticalPadding !default; // default tooltip height
$arrowBorderWidth: 5px !default; // border-width for tooltip arrow
$arrowOffsetX: 1 * $arrowBorderWidth !default; // horizontal arrow offset
$textShadowDarkenAmount: 25% !default; // text-shadow darken percentage
$transitionDistance: 8px !default; // transition distance
$showDelay: 0ms !default; // Delay in showing the tooltips.
$hideDelay: 0ms !default; // Delay in hiding the tooltips.

// Various colors
$defaultColor: $grey !default; // Default color is blackish
$errorColor: $error !default; // Error color
$warningColor: $warning !default; // Warning color
$infoColor: $info !default; // Info Color
$successColor: $success !default; // Success Color

// hint-mixins.scss
// Place to store common mixins.

// Vendor prefixer mixin.
@mixin vendor($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    #{$property}: $value;
}

// Generates border-color rules for all possible positions
// @mixin arrow-border-color($color) {
//     @each $position in top, bottom, left, right {
//         // @if $position == top or $position == bottom {
//         //     // Loop further for classes like .top-left, bottom-right etc
//         //     @each $xDir in left, right {
//         //         &.#{$prefix}#{$position}-#{$xDir}:before {
//         //             border-#{$position}-color: $color;
//         //         }
//         //     }
//         // }
//         // &.#{$prefix}#{$position}:before {
//         //     border-#{$position}-color: $color;
//         // }
//     }
// }

// mixin to set margin on tooltip using translate transform
// $property
@mixin set-margin($property, $transitionDirection, $translateX: 0) {
    $value: unquote("#{$property}(#{$transitionDistance * $transitionDirection})");
    &:after, &:before {
        @if $translateX != 0 {
            @include vendor('transform', translateX($translateX) $value);
        }
        @else {
            @include vendor('transform', $value);
        }
    }
}

/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 *  1) body (:after)
 *  2) arrow (:before)
 *
 * Classes added:
 *  1) hint
 */

[data-hint] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: index($layers, hint);

    &:before, &:after {
        position: absolute;

        // HACK: Trigger hardware accelerated rendering, otherwise transform was not
        // working on a hidden element
        @include vendor('transform', translate3d(0, 0, 0));

        // HACK: visibility is set to hidden because IE & Opera don't support
        // pointer-events on HTML content yet because of which hovering a hidden tooltip
        // shows the tooltip.
        visibility: hidden;
        opacity: 0;
        z-index: index($hint-layers, after);
        // shouldn't receive pointer events, otherwise even hovering tooltip will make it appear
        pointer-events: none;

        @include vendor('transition', .1s ease);
        @include vendor('transition-delay', $hideDelay);
    }

    &:hover:before, &:hover:after {
        visibility: visible;
        opacity: 1;
    }

    &:hover:before, &:hover:after {
        // $showDelay will apply as soon as element is hovered.
        @include vendor('transition-delay', $showDelay);
    }

    /** hint arrow */
    &:before {
        content: '';
        position: absolute;
        background: transparent;
        border: $arrowBorderWidth solid transparent;
        // move z-index 1 up than :after so that it shows over box-shadow
        z-index: index($hint-layers, before);
    }

    /** hint body */
    &:after {
        content: attr(data-hint); // The magic!
        background: $defaultColor;
        color: $white;
        padding: $verticalPadding $horizontalPadding;
        font-size: $fontSize;
        line-height: $fontSize; // Vertical centering.
        white-space: nowrap; // Prevent breaking to new line.
        border-radius: 4px;
    }
}

[data-hint=''] {
    &:before, &:after {
        display: none!important;
    }
}

.hint {
    &.-top-left:before {
        border-top-color: $grey;
    }

    &.-top-right:before {
        border-top-color: $grey;
    }

    &.-top:before {
        border-top-color: $grey;
    }

    &.-bottom-left:before {
        border-bottom-color: $grey;
    }

    &.-bottom-right:before {
        border-bottom-color: $grey;
    }

    &.-bottom:before {
        border-bottom-color: $grey;
    }

    &.-left:before {
        border-left-color: $grey;
    }

    &.-right:before {
        border-right-color: $grey;
    }
}

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 *  1) -top
 *  2) -bottom
 *  3) -left
 *  4) -right
 */

@mixin vertical-positioned-tooltip($propertyY, $transitionDirection, $xDirection:0) {
    &:before {
        margin-#{$propertyY}: -2 * $arrowBorderWidth; // get the arrow out
    }

    &:before, &:after {
        #{$propertyY}: 100%;
        left: 50%;
    }

    $translateX: -50%;
    @if $xDirection == -1 {
        $translateX: -100%;
    }
    @elseif $xDirection == 1 {
        $translateX: 0;
    }

    &:after, &:before {
        @include vendor('transform', translateX($translateX));
    }

    &:after {
        @if $xDirection != 0 {
            margin-left: -$xDirection * $arrowOffsetX; // bring back the tooltip by some offset so that arrow doesn't stick at end
        }
    }

    &:hover, &:focus {
        @include set-margin('translateY', $transitionDirection, $translateX);
    }
}

@mixin horizontal-positioned-tooltip($propertyX, $transitionDirection) {
    &:before {
        margin-#{$propertyX}: -2 * $arrowBorderWidth; // get the arrow out
        margin-bottom: -1 * $arrowBorderWidth; // bring back to center
    }

    &:after {
        margin-bottom: -1 * floor($tooltipHeight / 2); // bring back to center
    }

    &:before, &:after {
        #{$propertyX}: 100%;
        bottom: 50%;
    }

    &:hover, &:focus {
        @include set-margin('translateX', $transitionDirection);
    }
}

/** set default color for tooltip arrows */
//@include arrow-border-color($defaultColor);

.hint {
    /** top tooltip */
    &.#{$prefix}top {
        @include vertical-positioned-tooltip('bottom', -1);
    }

    /** bottom tooltip */
    &.#{$prefix}bottom {
        @include vertical-positioned-tooltip('top', 1);
    }

    /** right tooltip */
    &.#{$prefix}right {
        @include horizontal-positioned-tooltip('left', 1);
    }

    /** left tooltip */
    &.#{$prefix}left {
        @include horizontal-positioned-tooltip('right', -1);
    }

    /** top-left tooltip */
    &.#{$prefix}top-left {
        @include vertical-positioned-tooltip('bottom', -1, -1);
    }

    /** top-right tooltip */
    &.#{$prefix}top-right {
        @include vertical-positioned-tooltip('bottom', -1, 1);
    }

    /** bottom-left tooltip */
    &.#{$prefix}bottom-left {
        @include vertical-positioned-tooltip('top', 1, -1);
    }

    /** bottom-right tooltip */
    &.#{$prefix}bottom-right {
        @include vertical-positioned-tooltip('top', 1, 1);
    }
}

/**
 * source: hint-theme.scss
 *
 * Defines basic theme for tooltips.
 *
 */

[data-hint] {
    /** hint body */
    &:after {
        text-shadow: 0 -1px 0px darken($defaultColor, $textShadowDarkenAmount);
        box-shadow: 0 1px 3px rgba($black, .3);
        font-weight: normal;
    }
}

/**
 * source: hint-color-types.scss
 *
 * Contains tooltips of various types based on color differences.
 *
 * Classes added:
 *  1) -error
 *  2) -warning
 *  3) -info
 *  4) -success
 *
 */

// mixin to generate different color style tooltips
@mixin hint-type($color) {
    &:after {
        background-color: $color;
        text-shadow: 0 -1px 0px darken($color, $textShadowDarkenAmount);
    }

    // generate arrow color style
    //@include arrow-border-color($color);
}
.hint {
    /** Error */
    &.#{$prefix}error {
        @include hint-type($errorColor);
    }

    /** Warning */
    &.#{$prefix}warning {
        @include hint-type($warningColor)
    }

    /** Info */
    &.#{$prefix}info {
        @include hint-type($infoColor)
    }

    /** Success */
    &.#{$prefix}success {
        @include hint-type($successColor)
    }
}

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 *
 * Classes added:
 *  1) -always
 *
 */

 .hint {
    &.#{$prefix}always {
        &:after, &:before {
            opacity: 1;
            visibility: visible;
        }

        &.#{$prefix}top {
            @include set-margin('translateY', -1, -50%);

            &-left {
                @include set-margin('translateY', -1, -100%);
            }
            &-right {
                @include set-margin('translateY', -1, 0);
            }
        }

        &.#{$prefix}bottom {
            @include set-margin('translateY', 1, -50%);
            &-left {
                @include set-margin('translateY', 1, -100%);
            }
            &-right {
                @include set-margin('translateY', 1, 0);
            }
        }

        &.#{$prefix}left {
            @include set-margin('translateX', -1);
        }

        &.#{$prefix}right {
            @include set-margin('translateX', 1);
        }
    }
}

/**
 * source: hint-effects.scss
 *
 * Defines various transition effects for the tooltips.
 *
 * Classes added:
 *  1) -no-animate
 *  2) -bounce
 *
 */

.hint {
    // Remove animation from tooltips.
    &.#{$prefix}no-animate {
        &:before, &:after {
            @include vendor('transition-duration', 0ms);
        }
    }

    // Bounce effect in tooltips.
    &.#{$prefix}bounce {
        &:before, &:after {
            @include transition(opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.71,1.7,.77,1.24));
        }
    }
}

/**
 * Responsive
 */

[data-hint] {
    &:hover {

        &:before, &:after {

            .social & {
                @include media($screen-sm-max) {
                    opacity: 0;
                }
            }
        }
    }
}
