/*doc
---
title: Language toggle
name: languagetoggle
category: 4.components
---

```html_example
<form action="" class="language-select">
    <label for="spanish">
        <input class="language-option" id="spanish" type="radio" name="language" value="es">
        <span class="language">ES</span>
    </label>
    <label for="english">
       <input class="language-option" id="english" type="radio" name="language" value="en">
       <span class="language">EN</span>
    </label>
    <label for="portugues">
        <input class="language-option" id="portugues" type="radio" name="language" value="pt">
        <span class="language">PT</span>
    </label>
</form>
```
*/


.language-select {
    @include user-select(none);
    margin-bottom: 10px;

    .language {
        font-size: 12px;
        margin-right: 7px;
        color: $grey-40;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
            color: $grey-20;
        }
    }

    .language-option {
        display: none;
    }

    .language-option:checked + .language {
        font-weight: bold;
        color: $grey-10;
    }
}
