/*doc
---
title: Menu
name: menu
category: 4.components
---

```html_example
<div class="account-menu">
    <p>Use BananaDesk as:</p>
    <p><a href="#">Miami Hostel</a></p>
    <hr>
    <p><a href="#">Invite Hostels!</a></p>
    <p><a href="#">Settings</a></p>
    <hr>
    <p><a href="#">Logout</a></p>
</div>
```

```html_example
<div id="reservation-context-menu" class="calendar-context-menu">
    <ul>
        <li><a href="#">View Reservation</a></li>
        <li><a href="#">Add Nights</a></li>
        <li><a href="#">Add Guests</a></li>
        <li><a href="#">Close / Open Room</a></li>
        <li id="confirm-reservation-list-item"><a href="">Confirm Booking</a></li>
        <li id="checkin-reservation-list-item"><a href="#">Check in</a></li>
        <li><a href="#">Cancel Reservation</a></li>
        <li><a href="#">+ Extra / Payment</a></li>
        <li><a href="#">Remove Stay</a></li>
    </ul>
</div>
```

*/

.account-menu {
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    background: $white;
    position: absolute;
    width: 200px;
    right: 0;
    top: 48px;
    padding: 15px 20px 18px;
    z-index: index($layers, menu);
    box-shadow: 0 2px 10px rgba($black, .6);

    &:before, &:after {
        content: ' ';
        height: 0;
        position: absolute;
        right: 1px;
        width: 0;
        border: 9px solid transparent;
    }

    &:before {
        top: -11px;
    }

    &:after {
        top: -18px;
        border-bottom-color: $white;
    }

    hr {
        margin: 0 0 10px;
    }

    p {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 10px;
        letter-spacing: .025em;
        color: $grey;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            user-select: none;
        }
    }
}

.calendar-context-menu {
    @include box-sizing(border-box);
    box-shadow: 0 2px 10px rgba($black, .6);
    border-radius: 3px;
    background: $white-5;
    padding: 2px 12px;
    width: 126px;
    z-index: index($layers, menu);
    cursor: default;
    position: absolute;

    ul {

        li {
            padding: 5px 0;
            border-top: 1px solid $white-5;
            list-style-type: none;
            line-height: 1.4;

            &:first-child {
                border-top: none;
            }

            a {
                font-size: 11px;
                color: $brown;
                text-decoration: none;

                &:hover {
                    color: $orange;
                }
            }
        }
    }

    &:before, &:after {
        content: ' ';
        height: 0;
        position: absolute;
        left: 54px;
        width: 0;
        border: 9px solid transparent;
    }

    &:before {
        top: -19px;
        border-bottom-color: $white-15;
    }

    &:after {
        top: -18px;
        border-bottom-color: $white-5;
    }
}

.menu-link {
    color: $grey;
    margin-right: 5px;
    font-size: 14px;
    padding: 7px 5px;

    .subheader & {
        padding: 12px;
    }

    &:hover {
        color: $grey;
    }

    &.active {
        font-weight: bold;
    }
}
