/*doc
---
title: Messages
name: messages
category: 4.components
---

```html_example
<div class="message-container">
    <div class="message -info -welcome">
        <div class="media">
            <div class="media-figure">
                <img class="message-image" src="assets/images/referrals-bananaman.png" alt="BananaMan">
            </div>
            <div class="media-body">
                <h3 class="message-heading -welcome">Bienvenido a BananaDesk</h3>
                <p>Esta es la vista de calendario, donde estáran todas la reservas sincronizadas con los canales de venta.</p>
                <p>Para poder iniciar la conexión con los canales, agrega tus Tipos de habitaciones y habitaciones yendo a Settings desde la ruedita que aparece arriba a la derecha: <svg class="icon -settings">
                    <use xlink:href="assets/images/svg/settings.svg#settings" />
                </svg></p>
            </div>
        </div>
    </div>
</div>
```

*/

.message {
    color: $white;
    line-height: 1.5;
    text-decoration: none;
    margin: 0 0 20px;
    font-weight: normal;
    font-size: 13px;
    width: 100%;
    height: auto;
    position: relative;
    left: auto;
    top: auto;
    padding: 25px 25px 15px;
    position: relative;
    box-sizing: border-box;
    @extend %flex-sb-fs;

    &-container {
        @extend %flex-center-center;
        top: 98px;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: index($layers, message);
    }

    &-heading {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.6;
        margin-bottom: 10px;

        &.-welcome {
            font-size: 32px;
        }
    }

    &-description {
        width: 62%;

        ul {
            margin-left: 20px;

            li {
                padding-bottom: 5px;
            }
        }
    }

    &-thumbnails {
        width: 33%;
        margin-top: 25px;

        ul {
            @extend %flex-sb-fs;
            @include flex-wrap(wrap);
        }
    }

   &-close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 14px;
        height: 14px;
        cursor: pointer;
        fill: $white;
    }

    &-image {
        padding-right: 15px;
    }

    &-arrow {
        position: absolute;
        top: -100px;
        right: -200px;
    }

    &.-info {
        background: $info;
        color: $white;
        line-height: 1.5;

        h3 {
            color: $white;
            text-shadow: none;
        }

        p, li {
            color: $white;
            font-size: 13px;
        }

        p {
            line-height: 1.4;
        }

        ul, ol {
            margin-bottom: 10px;
        }
    }

    &.-welcome {
        max-width: 600px;
        flex-direction: column;
        border: 1px solid $grey;
        padding: 30px 35px 30px 30px;
        border-radius: 4px;
    }
}
