/*doc
---
title: Modals
name: modals
category: 4.components
---

### Simple modal

```html_example
<div class="modal">
    <div onclick="BananaDesk.closeOverlay();" class="modal-close">
        <svg class="icon -medium">
            <use xlink:href="assets/images/svg/close-circle.svg#close-circle" />
        </svg>
    </div>
    <form id="currencies-form" action="/ajax/settings/configuration/currencies/form" method="POST">
        <div class="modal-header">
            <h2 class="modal-heading">Edit preferred Currency</h2>
        </div>
        <div class="modal-body">
            <div class="formGroup">
                <label for="id_main_currency">Main currency</label>
                <select id="id_main_currency" name="main_currency" class="select2-offscreen" tabindex="-1">
                  <option value="" selected="selected">--------</option>
                  <option value="0">Peso</option>
                  <option value="1">Libra Esterlina</option>
                  <option value="2">Marco</option>
                  <option value="3">Lira</option>
                  <option value="4">Dólar</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <input class="button -primary -large" type="submit" value="Save preferred currency">
        </div>
    </form>
</div>
```
*/

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba($black, .85);
    top: 0;
    left: 0;
    display: none;
    z-index: index($layers, overlay);
}

.modal {
    display: block;
    margin: 10vh auto 0;
    position: relative;
    max-width: 520px;
    z-index: index($layers, modal);
    box-sizing: border-box;
    background-color: $white-5;
    border-radius: 3px;

    &-close {
        position: absolute;
        top: -12px;
        right: -12px;
        cursor: pointer;
        box-shadow: 0 1px 1px $black;
        border-radius: 50%;
        height: 23px;
        width: 23px;
    }

    &-header {
        padding: 25px 25px 0;

        &.-tabs {
            padding: 0;
            @extend %flex-fs-center;
        }

        .-stepper & {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $dark-blue;
            height: 70px;
            padding: 0 35px;

        }
    }

    &-message {
        padding: 10px 15px 12px;
        margin-bottom: 20px;
        background: $info;
        font-size: 14px;
        line-height: 1.5em;
        border-radius: 3px;
        color: $white;
        overflow: hidden;

        a {
            color: $white;
            padding: 4px 9px 3px;
            background: $blue;
            border-radius: 4px;
            display: inline-block;
            margin-top: 20px;
            float: right;
        }
    }

    &-tab {
        flex-grow: 1;
        text-align: center;
        padding: 15px 25px 13px;
        transition: .2s ease-in;
        font-size: 18px;

        &.-tab2 {
            width: 50%;
        }

        &.active {
            font-weight: bold;
        }

        &:not(.active) {
            background: rgba($black, .15);
            box-shadow: inset 2px -2px 4px rgba($black, .06);
            color: white;

            &:hover {
                background: rgba($black, .3);
                box-shadow: none;
                color: $white;
            }
        }
    }

    &-heading {
        margin: 0;
        border-bottom: 1px solid $grey-20;
        padding-bottom: 15px;
        color: $grey;
        font-weight: bold;
        font-size: 22px;
        user-select: none;

        .-stepper & {
            color: rgba($white, .5);
            font-weight: normal;
            font-size: 16px;
            border-bottom: 0;
            padding: 0;

            span {
                color: $white;
            }
        }
    }

    &-body {
        padding: 30px 25px 35px;
        min-height: 150px;

        .-stepper & {
            padding: 50px 25px;
            min-height: 450px;
        }

        .-table & {
            padding: 0;
        }
    }

    &-section {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-footer {
        padding: 0 25px 25px;
        @include flex-direction(row-reverse);
        @extend %flex-sb-center;

        &.-center {
            @extend %flex-center-center;
        }
    }

    &-stepper {
        display: flex;
        justify-content: space-between;
        counter-reset: step;
    }

    &-step {
        color: rgba($white, .3);
        font-weight: 400;
        font-size: 20px;

        &::before {
            counter-increment: step;    /* Increment the step counter */
            content: counter(step) ". ";/* Display the counter */
        }

        &:not(:last-child) {
            margin-right: 80px;
        }

        &.active {
            color: $white;
        }
    }

    &.-small {
        max-width: 460px;
    }

    &.-large {
        max-width: 600px;
    }

    &.-tabbed {
        overflow: hidden;
        box-shadow: none;
    }

    &.-stepper {
        width: 800px;
        max-width: 800px;
        background-color: $white;
    }

    &-text {
        margin-bottom: 5px;
    }

    label {
        display: block;
        font-size: 14px;
    }
}
