/*doc
---
title: Navigation
name: navigation
category: 4.components
---

### Main navigation

```html_example
<nav class="nav -main" role="navigation">
	<ul>
		<li class="current">
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">Agenda</a>
		</li>
		<li>
			<a href="#">Transactions</a>
		</li>
		<li>
		    <a href="#">Dashboard</a>
		</li>
	</ul>
</nav>
```

### Toggle navigation

```html_example
<nav class="nav -toggle" role="navigation">
	<ul>
		<li class="current">
			<a href="#">Week</a>
		</li>
		<li>
			<a href="#">2 Weeks</a>
		</li>
		<li>
			<a href="#">Month</a>
		</li>
	</ul>
</nav>
```

### Calendar navigation

```html_example
<nav class="nav -calendar">
	<a class="button -secondary" href="#" role="button">Today</a>
    <input type="text" readonly="readonly" id="primary-date-selection" gldp-id="gldp-2879895899" class=" input -date gldp-el" value="Jul 31 2015">
    <ul class="nav -toggle" role="navigation">
        <li class="current">
            <a href="#">Week</a>
        </li>
        <li>
            <a href="#">2 Weeks</a>
        </li>
        <li>
            <a href="#">Month</a>
        </li>
    </ul>
    <ul class="nav pagination" role="navigation">
        <li class="pagination-item -disabled">
            <a class="pagination-control" href="#">
                <svg class="pagination-icon">
                    <use xlink:href="assets/images/svg/arrow-left.svg#arrow-left" />
                </svg>
            </a>
        </li>
        <li class="pagination-item">
            <a class="pagination-control" href="#">
                <svg class="pagination-icon">
                    <use xlink:href="assets/images/svg/arrow-right.svg#arrow-right" />
                </svg>
            </a>
        </li>
    </ul>
</nav>
```

*/

.nav {
    @include display(inline-flex);
    position: relative;

    ul {
        @include display(inline-flex);
        list-style: none;
    }

    &.-calendar {
        @include justify-content(flex-start);
        @include align-items(center);
        width: 100%;

        & > * {
            margin-right: 15px;
        }
    }

    &.-main {
        border-radius: 4px;

        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            position: relative;
            list-style: none;

            &:not(.current) {
                & > a {
                    &:hover {
                        color: rgba($white, .65);
                    }
                }
            }

            &.current > a {
                color: $white;
            }

            a {
                display: inline-block;
                color: rgba($white, .35);
                font-size: 14px;
                font-weight: 400;
                margin: 0;
                padding: 6px 14px 5px;
                line-height: 2.7;
            }
        }
	}
	&.-toggle {
		border-radius: 4px;

		li {
            background: $grey-40;
            list-style-type: none;
            display: inline-block;
            .subheader & {
                background: rgba($white, .1);
            }

            &:hover {
                background: $grey-30;
                .subheader & {
                    background: rgba($white, .2);
                }
            }

            &:active, &.current {
                background: $grey-20;
                cursor: pointer;
                .subheader & {
                    background: rgba($black, .2);
                }

                a {
                    text-shadow: none;
                    color: $white;
                }
            }

            a {
                padding: 6px 12px 6px;
                color: $white;
                font-size: 11px;
                display: block;
                line-height: 1.6;
			}

			&:first-child {
			    border-radius: 3px 0 0 3px;
			}

			&:last-child {
			    border-radius: 0 3px 3px 0;
			}
		}
	}
}
