/*doc
---
title: Notifications
name: notifications
category: 4.components
---

### Notification icons

```html_example
<header class="header">
    <div class="notifications">
        <a href="#" title="Check-ins">
            <span class="hint -bottom" data-hint="Check-Ins">
                <div class="notifications-item">
                    <svg class="icon -checkin -active">
                        <use xlink:href="../assets/images/svg/guest-walk.svg#guest-walk" />
                    </svg>
                    <span class="notifications-number -checkin">53</span>
                </div>
            </span>
        </a>
        <a href="#" title="Check-Outs">
            <span class="hint -bottom" data-hint="Check-Outs">
                <div class="notifications-item">
                    <svg class="icon -checkout -active">
                        <use xlink:href="../assets/images/svg/guest-walk.svg#guest-walk" />
                    </svg>
                    <span class="notifications-number -checkout">26</span>
                </div>
            </span>
        </a>
    </div>
</header>
```

*/

.notifications {
    @extend %flex-sb-fs;
    width: 100px;

    &-item {
        position: relative;
    }

    &-number {
        border-radius: 3px;
        background: $notification-number-color;
        color: $white;
        position: absolute;
        top: 4px;
        z-index: index($notification-layers, number);
        font-size: 11px;
        user-select: none;

        &.-checkin {
            left: 14px;
            padding: 3px 5px 2px 10px;
        }

        &.-checkout {
            right: 13px;
            padding: 3px 10px 2px 5px;
        }
    }

    &-message {
        width: 370px;
        list-style-type: none;
        padding: 12px 20px 10px;
        margin-top: 8px;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba($black, .5);
        line-height: 1.4;
        color: $white;

        &-heading {
            color: white;
            font-size: 15px;
            margin-bottom: 5px;
        }

        &-content {
            color: $grey-50;
            margin-bottom: 5px;
        }

        &-list {
            position: absolute;
            top: 49px;
            right: -1px;
        }

        &.-critical {
            background: $red;
        }

        &.-ok {
            background: $green;
        }

        &.-warning {
            @include color($grey);
            background: $warning;

            .notifications-message-heading,
            .notifications-message-content {
                @include color($grey);
            }
        }

        &-cta {
            font-size: 14px;
            color: $white-10;
            font-weight: bold;

            &:hover {
                color: $white;
            }
        }
    }
}

