/*doc
---
title: Pagination
name: pagination
category: 4.components
---

### Page navigation

```html_example
<ul class="nav pagination" role="navigation">
    <li class="pagination-item">
        <a class="pagination-control" href="#">
            <svg class="pagination-icon">
                <use xlink:href="assets/images/svg/arrow-left.svg#arrow-left" />
            </svg>
        </a>
    </li>
    <li class="pagination-item">
        <a class="pagination-control" href="#">
            <svg class="pagination-icon">
                <use xlink:href="assets/images/svg/arrow-right.svg#arrow-right" />
            </svg>
        </a>
    </li>
</ul>

<ul class="nav pagination" role="navigation">
    <li class="pagination-item -disabled">
        <a class="pagination-control" href="#">
            <svg class="pagination-icon">
                <use xlink:href="assets/images/svg/arrow-left.svg#arrow-left" />
            </svg>
        </a>
    </li>
    <li class="pagination-item">
        <a class="pagination-control" href="#">
            <svg class="pagination-icon">
                <use xlink:href="assets/images/svg/arrow-right.svg#arrow-right" />
            </svg>
        </a>
    </li>
</ul>
```

### Page navigation with current page

```html_example
<div class="nav pagination" role="navigation">
    <span class="pagination-item">
        <a class="pagination-control" href="?page=1">
            <svg class="pagination-icon">
                <use xlink:href="../assets/images/svg/arrow-left.svg#arrow-left" />
            </svg>
        </a>
    </span>
    <span class="pagination-current"> Página 2 of 15 </span>
    <span class="pagination-item">
        <a class="pagination-control" href="?page=3">
            <svg class="pagination-icon">
                <use xlink:href="../assets/images/svg/arrow-right.svg#arrow-right" />
            </svg>
        </a>
    </span>
</div>
```

*/

.pagination {
    border-radius: 4px;

    &-item {
        background-color: $grey-40;
        position: relative;
        text-align: center;
        height: 29px;
        width: 29px;
        list-style-type: none;
        z-index: index($pagination-layers, enabled);
        .subheader & {
            background: rgba($white, .1);
        }
        &:hover {
            background-color: $grey-30;
            .subheader & {
                background: rgba($white, .2);
            }
        }

        &:active, &.active {
            background-color: $grey-40;
            cursor: pointer;
            .subheader & {
                background: lighten($header-color, 30%);
            }

            > a {
                text-shadow: none;
                color: $white;
            }
        }

        &:first-child {
            border-radius: 3px 0 0 3px;
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
        }

        &.-disabled {
            background-color: $grey-30;
            box-shadow: none;
            z-index: index($pagination-layers, disabled);
            .pagination-control {
                cursor: default;
            }
        }

        .public & {
            background-color: $orange;
            border: 0;

            &:hover {
                background-color: $primary-border-color;
            }
        }
    }
    &-control {
        @extend %flex-center-center;
        width: 100%;
        height: 100%;
        position: absolute;
        color: $olive;
        text-decoration: none;
        font-size: 11px;
        line-height: 25px;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    &-icon {
        width: 12px;
        fill: $white;
        stroke: $white;
        stroke-width: 6px;
        height: 15px;
        margin-left: 5px;

        .public & {
            -webkit-filter: drop-shadow(0 0 0 $grey-20);
            filter: drop-shadow(0 0 0 $grey-20);
        }
    }
    &-current {
        padding: 6px 12px;
        font-size: 14px;
        color: $grey;
        font-weight: bold;
    }
}
