/*doc
---
title: Panels
name: panels
category: 4.components
---

```html_example
<div class="panel">
    <div class="panel-header">
        <div class="panel-heading">Panel heading</div>
    </div>
    <div class="panel-body">Panel ítem</div>
    <div class="panel-footer">Panel footer</div>
</div>
```

*/

.panel {
    border: 1px solid $white-10;
    border-radius: 4px;

    &-header {
        padding: 12px 20px;
        background: $white-5;
        @extend %flex-sb-center;
        @include flex-direction(column);

        @include media($screen-md-min) {
            @include flex-direction(row);
        }
    }

    &-heading {
        color: $grey;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        font-family: $roboto;

        &.-marketing {
            font-size: 24px;
        }

        @include media($screen-md-min) {
            text-align: left;
            margin-bottom: 0;
        }
    }

    &-body {
        padding: 20px 20px 25px;
    }

    &-footer {
        padding: 10px 20px 20px;
    }
}
