/*doc
---
title: Period Box
name: period-box
category: 4.components
---

```html_example
<div class="periodBox">
    <div class="periodBox-time">
        <h2 class="periodBox-heading">
            <svg class="icon -medium">
                <use xlink:href="assets/images/svg/building.svg#building"></use>
            </svg>
            <span>0</span> Months
        </h2>
    </div>
    <div class="periodBox-legend">
        <p>Remaining Free Months</p>
    </div>
</div>

<div class="periodBox">
    <div class="periodBox-time">
        <h2>
            <svg class="icon -medium">
                <use xlink:href="assets/images/svg/building.svg#building"></use>
            </svg>
            <span>1</span> Months
        </h2>
    </div>
    <div class="periodBox-legend">
        <p>Used Up Free Months</p>
    </div>
</div>
```

*/

.periodBox {
    background: $white-5;
    width: 200px;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;

    &-time {
        padding: 15px 0 5px;
        font-family: $roboto;
        font-size: 14px;
        @include display(flex);
        @include justify-content(center);
        @include align-items(stretch);

        span {
            font-size: 30px;
            padding: 0 5px;
            top: 1px;
            color: $orange;
            font-weight: bold;
        }
        .icons-building {
            top: 1px;
        }
    }

    &-heading {
        font-family: $roboto;
    }

    &-legend {
        background: $white-10;
        height: 28px;
        padding: 2px;

        p {
            font-size: 12px;
            padding-top: 5px;
            font-weight: bold;
            color: $brown;
        }
    }
}
