/*doc
---
title: Reservation
name: reservation
category: 4.components
---

```html_example
<h1 class="reservation-heading">Timothy Zenderman</h1>
<h2 class="reservation-date">
    <time datetime="2016-03-10" class="checkin">Thu, Mar 10</time>
    <time datetime="2016-03-11">Fri, Mar 11</time>
</h2>
```
*/

.reservation {

    &-heading {
        font-size: 20px;
        font-weight: bold;
        display: block;
        line-height: 1.5em;
    }

    &-date {
        color: $reservation-date;
        font-size: 16px;
        font-weight: bold;
        text-transform: capitalize;

        &.-history {
            color: $grey;
            font-size: 13px;
            font-weight: normal;
            min-width: 330px;
        }

        &.-print {
            margin-bottom: 3px;
        }

        &-timestamp {
            font-size: 10px;
            font-weight: bold;
            font-style: italic;
        }

        .checkin {

            &:after {
                content: "\2192";
                 margin: 0px 2px 0px 6px;
            }
        }
    }

    &-details {
        color: $grey;
    }

    &-state {
        text-transform: uppercase;
        font-weight: bold;
        vertical-align: middle;
        font-size: 12px;

        &-container {
            @extend %flex-fs-center;

            & > * {
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &.-confirmed {
            color: $confirmed;
        }

        &.-unconfirmed {
            color: $unconfirmed;
        }

        &.-in-house {
            color: $in-house;
        }

        &.-checked-out {
            color: $checked-out;
        }

        &.-blocked {
            color: $blocked;
        }
    }

    &-holder {
        background: $grey-20;
        font-size: 9px;
        padding: 3px 4px 2px;
        border-radius: 3px;
        color: $white;
        font-weight: 400;
        vertical-align: middle;
        margin-left: 3px;
        text-transform: uppercase;

        &-card {
            padding: 13px 15px;
            border: 1px solid $white-10;
            position: relative;
            border-radius: 4px;

            & > * {
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-name {
            font-weight: bold;
            max-width: 210px;
            line-height: 1.45;
        }

        &-edit {
            position: absolute;
            right: 12px;
            top: 10px;
        }

        &-config {
            position: absolute;
            right: 36px;
            top: 10px;
        }
    }

    &-guest {
        @extend %flex-sb-fs;
        list-style-type: none;
        font-size: 13px;
        color: $grey-20;
        padding: 8px 10px;
        border: 1px solid $white-10;

        &:not(:last-child) {
            border-bottom: none;
        }

        &:nth-child(even) {
            background: $white-5;
        }

        &-data {
            @extend %flex-fs-center;
            @include flex-grow(1);
            max-width: 280px;
            margin-right: 10px;
            align-self: flex-start;
        }

        &-state,
        &-accomodation {
            @extend %flex-sb-center;
        }

        &-accomodation {
            width: 420px;

            &-list {
                margin-right: 10px;
                max-width: 400px;
            }

            &.-print {
                max-width: 370px;
            }

            .hint {
                @include align-self(flex-start);
            }
        }

        &-state {
            justify-content: flex-start;
            width: 100px;
            align-self: flex-start;

            .actual-state {
                font-size: 10px;
                border-radius: 3px;
                line-height: 15px;
                font-weight: 700;
                color: $white;
                text-transform: uppercase;

                &.-not-checked-in {
                    color: $not-checked-in;
                }

                &.-in-house {
                    color: $in-house;
                }

                &.-checked-out {
                    color: $checked-out;
                }

                &.-print {
                    color: $grey;
                }
            }

            &-action {
                color: $grey;
            }
        }

        &-email {
            display: none;
        }

        &-name {
            font-size: 14px;
            font-weight: bold;
            color: $link;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &-data,
        &-date-range,
        &-room-change,
        &-state {

            & > * {

                &:not(:last-child) {
                    margin-right: 6px;
                }
            }
        }

        &-date-range,
        &-room-change {
            margin-bottom: 4px;
        }

        &-date-range {
            @extend %flex-fs-center;
            position: relative;

            &:before {
                content: "\2022";
                font-size: 36px;
                line-height: 7px;
                margin-right: 5px;
                margin-top: 3px;
            }

            &:after {
                content: "\007c";
                font-size: 25px;
                position: absolute;
                left: 3px;
                top: 3px;
            }

            &:last-child {

                &:after {
                    content: "";
                }
            }

            &:only-of-type {
                margin-bottom: 0;

                &:after {
                    content: "";
                }
            }
        }

        &-room {
            font-weight: bold;
            width: 190px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &-change {
                @extend %flex-fs-center;
                color: $grey;
                position: relative;

                &:before {
                    content: "\2013";
                    font-size: 21px;
                    margin: 0 7px;
                }

                &:after {
                    content: "\007c";
                    font-size: 32px;
                    position: absolute;
                    left: 4px;
                    top: 5px;
                }
            }
        }

        &-bed {
            font-style: italic;
        }

        &-history {

            &-item {
                @extend %flex-fs-center;
                font-size: 13px;
                list-style-type: none;
                color: $grey;
                margin-bottom: 12px;

                & > * {
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &-hostel {

        &.-print {

            & > * {
                margin-bottom: 2px;
            }
        }
    }

    &-internal-note {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;

    }
}

.stay {
    max-width: 340px;
    background: $white;
    padding: 11px 13px 10px;
    border-radius: 4px;
    border: 1px solid $grey;
    @extend %flex-sb-center;
    color: $grey;
    font-size: 12px;
    position: relative;
    z-index: index($stay, stay);

    .stay-container & {
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        max-width: 340px;
    }

    &-container {
        @extend %flex-sb-center;
        margin-bottom: 20px;
        flex-direction: column;
    }

    &-date {

        &:first-child {
            border-right: 1px solid $grey-50;
            margin-right: 11px;
            padding-right: 14px;
        }
    }

    &-label {
        color: rgba($grey, .65);
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    &-day {
        font-family: $roboto;
        font-size: 30px;
        font-weight: bold;
        margin-right: 8px;
    }

    &-month {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.3em;
    }

    &-weekday {
        font-size: 13px;
    }


    &-room {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 8px;
    }

    &-guests,
    &-nights {
        flex-shrink: 0;
        margin-right: 10px;
        text-transform: uppercase;
    }

    &-details {
        padding: 10px;
        font-size: 12px;
    }

    &-total {
        padding: 13px 10px 6px;
        margin-top: -5px;
        text-align: right;
        flex-shrink: 0;
        font-size: 11px;
        text-transform: uppercase;
        color: rgba($grey, .8);

        &-amount {
            font-size: 16px;
            font-weight: bold;
            display: block;
            margin-top: 7px;
        }
    }

    &-data {
        z-index: index($stay, stay-data);
        @extend %flex-sb-center;
        width: 340px;
        background: $white;
        border: 1px solid $grey;
        border-top-style: dashed;
        color: rgba($grey, .6);
        border-radius: 0 0 3px 3px;
    }
}

