/*doc
---
title: Section
name: section
category: 4.components
---

```html_example
<section class="section">
    <div class="section-header">
        <h2 class="section-heading">Section heading</h2>
    </div>
    <div class="section-footer">
        <a href="#" class="button -primary">Button</a>
    </div>
</section>
```

*/

.section {
    margin-bottom: 30px;

    &-header {
        margin-bottom: 15px;
    }

    &-heading {
        font-size: 18px;
        font-weight: bold;

        &.-public {
            font-size: 28px;
            text-align: center;
            box-shadow: 0 1px 0 $white;
            text-shadow: 0 1px $white;
            color: $grey;
            padding: 50px 0 30px;

            @include media($screen-xs-min) {
                font-size: 36px;
            }
        }

        &.-main {
            font-size: 32px;
        }
    }

    &-subheading {
        font-size: 14px;
        margin-bottom: 15px;

        &.-public {
            font-size: 20px;
            margin-bottom: 40px;

            @include media($screen-xs-min) {
                font-size: 22px;
            }
        }
    }

    &-footer {
        margin-top: 15px;

        &.-distributed {
            @extend %flex-sb-center;
        }
    }

    &.-inner {
        margin: 0;
    }

    &.-season-rates {
        padding: 30px 0 10px;
    }

    .public & {
        padding: 70px 25px 0px;
        margin-bottom: 0;

        &:first-child {
            padding-top: 140px;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 50px;
        }

        &.solution, &.-main {
            padding-left: 0;
            padding-right: 0;
        }

        &.-main {
            padding-top: 160px;
        }
    }

    &.-public-form {
        padding-top: 150px;

        .blog & {
            padding-top: 100px;
        }
    }


    &.-public-form, &.-problem {
        padding-bottom: 40px;
    }

    &.-posts {
        background: $white;
        margin-bottom: 0;
        padding-top: 50px;
    }
    &.-featured-posts {
        padding-bottom: 40px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.-features {
        background: $grey-50;
        padding: 50px 0;
        margin-top: -40px;
        margin-bottom: 80px;
    }
}
