@import url(https://fonts.googleapis.com/css?family=Raleway:400,700|Lato);
.slider {
    max-width: 100%;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;

    & > input {
        display: none;

        &:nth-of-type(10):checked ~ .slides .slide:first-of-type {
            margin-left: -900%;
        }

        &:nth-of-type(9):checked ~ .slides .slide:first-of-type {
            margin-left: -800%;
        }

        &:nth-of-type(8):checked ~ .slides .slide:first-of-type {
            margin-left: -700%;
        }

        &:nth-of-type(7):checked ~ .slides .slide:first-of-type {
            margin-left: -600%;
        }

        &:nth-of-type(6):checked ~ .slides .slide:first-of-type {
            margin-left: -500%;
        }

        &:nth-of-type(5):checked ~ .slides .slide:first-of-type {
            margin-left: -400%;
        }

        &:nth-of-type(4):checked ~ .slides .slide:first-of-type {
            margin-left: -300%;
        }

        &:nth-of-type(3):checked ~ .slides .slide:first-of-type {
            margin-left: -200%;
        }

        &:nth-of-type(2):checked ~ .slides .slide:first-of-type {
            margin-left: -100%;
        }

        &:nth-of-type(1):checked ~ .slides .slide:first-of-type {
            margin-left: 0%;
        }
    }

    .slides {
        position: relative;
        max-width: 100%;
        z-index: 1;
        font-size: 0;
        line-height: 0;
        background-color: #3A3A3A;
        margin: 0 auto 20px;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(58, 58, 58, 0.23);
        border-radius: 3px;

    }

    .slide {
        position: relative;
        display: inline-block;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        font-size: 15px;
        font-size: initial;
        line-height: normal;
        transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
        vertical-align: top;
        box-sizing: border-box;
        white-space: normal;

        img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }

        &.scrollable {
            overflow-y: scroll;
        }
    }

    .slide-content {
        position: absolute;
        color: white;
        padding: 0 50px;
        top: 35%;
        text-align: center;
        margin: 0;
        line-height: 1.4;
    }

    .slider-nav {
        position: absolute;
        bottom: -8px;
        left: 50%;
        z-index: 10;
        margin-bottom: -10px;
        font-size: 0;
        line-height: 0;
        text-align: center;
        user-select: none;

        .slider-nav-controls {
            margin-left: -100%;
        }

        .slider-nav-control {
            position: relative;
            display: inline-block;
            cursor: pointer;
            border-radius: 50%;
            margin: 0 10px;
            padding: 6px;
            background: $grey-30;
            cursor: pointer;

            &:hover:after {
                opacity: 1;
            }

            &:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -10px;
                margin-top: -10px;
                background: $header-color;
                border-radius: 50%;
                padding: 10px;
                opacity: 0;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
            }
        }
    }

    &.inside .slider-nav {
        bottom: 10px;
        margin-bottom: 10px;

        label {
            border: 1px solid #7e7e7e;
        }
    }

    & > input:nth-of-type(1):checked ~ .slider-nav label:nth-of-type(1):after,
    & > input:nth-of-type(2):checked ~ .slider-nav label:nth-of-type(2):after,
    & > input:nth-of-type(3):checked ~ .slider-nav label:nth-of-type(3):after,
    & > input:nth-of-type(4):checked ~ .slider-nav label:nth-of-type(4):after,
    & > input:nth-of-type(5):checked ~ .slider-nav label:nth-of-type(5):after,
    & > input:nth-of-type(6):checked ~ .slider-nav label:nth-of-type(6):after,
    & > input:nth-of-type(7):checked ~ .slider-nav label:nth-of-type(7):after,
    & > input:nth-of-type(8):checked ~ .slider-nav label:nth-of-type(8):after,
    & > input:nth-of-type(9):checked ~ .slider-nav label:nth-of-type(9):after,
    & > input:nth-of-type(10):checked ~ .slider-nav label:nth-of-type(10):after,
    & > input:nth-of-type(11):checked ~ .slider-nav label:nth-of-type(11):after {
        opacity: 1;
    }

    .slider-arrows {
        user-select: none;
        position: absolute;
        left: -31px;
        top: 50%;
        width: 100%;
        height: 26px;
        padding: 0 31px;
        z-index: 0;
        box-sizing: content-box;

        label {
            display: none;
            position: absolute;
            top: -50%;
            padding: 13px;
            box-shadow: inset 2px -2px 0 1px #3A3A3A;
            cursor: pointer;
            transition: box-shadow 0.15s, margin 0.15s;

            &:hover {
                box-shadow: inset 3px -3px 0 2px #71ad37;
                margin: 0 0px;
            }

            &:before {
                content: '';
                position: absolute;
                top: -100%;
                left: -100%;
                height: 300%;
                width: 300%;
            }
        }
    }

    &.infinity > input:first-of-type:checked ~ .slider-arrows label.goto-last,
    & > input:nth-of-type(1):checked ~ .slider-arrows > label:nth-of-type(0),
    & > input:nth-of-type(2):checked ~ .slider-arrows > label:nth-of-type(1),
    & > input:nth-of-type(3):checked ~ .slider-arrows > label:nth-of-type(2),
    & > input:nth-of-type(4):checked ~ .slider-arrows > label:nth-of-type(3),
    & > input:nth-of-type(5):checked ~ .slider-arrows > label:nth-of-type(4),
    & > input:nth-of-type(6):checked ~ .slider-arrows > label:nth-of-type(5),
    & > input:nth-of-type(7):checked ~ .slider-arrows > label:nth-of-type(6),
    & > input:nth-of-type(8):checked ~ .slider-arrows > label:nth-of-type(7),
    & > input:nth-of-type(9):checked ~ .slider-arrows > label:nth-of-type(8),
    & > input:nth-of-type(10):checked ~ .slider-arrows > label:nth-of-type(9),
    & > input:nth-of-type(11):checked ~ .slider-arrows > label:nth-of-type(10) {
        display: block;
        left: 0;
        right: auto;
        transform: rotate(45deg);
    }

    &.infinity > input:last-of-type:checked ~ .slider-arrows label.goto-first,
    & > input:nth-of-type(1):checked ~ .slider-arrows > label:nth-of-type(2),
    & > input:nth-of-type(2):checked ~ .slider-arrows > label:nth-of-type(3),
    & > input:nth-of-type(3):checked ~ .slider-arrows > label:nth-of-type(4),
    & > input:nth-of-type(4):checked ~ .slider-arrows > label:nth-of-type(5),
    & > input:nth-of-type(5):checked ~ .slider-arrows > label:nth-of-type(6),
    & > input:nth-of-type(6):checked ~ .slider-arrows > label:nth-of-type(7),
    & > input:nth-of-type(7):checked ~ .slider-arrows > label:nth-of-type(8),
    & > input:nth-of-type(8):checked ~ .slider-arrows > label:nth-of-type(9),
    & > input:nth-of-type(9):checked ~ .slider-arrows > label:nth-of-type(10),
    & > input:nth-of-type(10):checked ~ .slider-arrows > label:nth-of-type(11),
    & > input:nth-of-type(11):checked ~ .slider-arrows > label:nth-of-type(12) {
        display: block;
        right: 0;
        left: auto;
        transform: rotate(225deg);
    }

    &.-no-arrows {
        .slider-arrows {
            display: none;
        }
    }
}

/*___________________________________ LAYOUT ___________________________________ */

.scrollable p {
    padding: 30px;
    text-align: justify;
    line-height: 140%;
    font-size: 120%;
}

#center {
    text-align: center;
    margin-top: 25%;

    a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-variant: small-caps;
    }
}
