/*doc
---
title: Social bar
name: social-bar
category: 4.components
---

```html_example
<aside class="social-bar">
    <ul>
        <li>
            <a href="" class="social -twitter" title="Share on Twitter">
                <svg class="icon -large">
                    <use xlink:href="../assets/images/svg/twitter.svg#twitter" />
                </svg>
            </a>
        </li>
        <li>
            <a href="" class="social -facebook" title="Share on Facebook">
                <svg class="icon -large">
                    <use xlink:href="../assets/images/svg/facebook.svg#facebook" />
                </svg>
            </a>
        </li>
        <li>
            <a href="" class="social -whatsapp" title="Share on Whatsapp">
                <svg class="icon -large">
                    <use xlink:href="../assets/images/svg/whatsapp.svg#whatsapp" />
                </svg>
            </a>
        </li>
        <li>
            <a href="" class="social -hostel-management" title="Share on Hostel Management">
                <svg class="icon -large">
                    <use xlink:href="../assets/images/svg/hostel-mgt.svg#hostel-mgt" />
                </svg>
            </a>
        </li>
    </ul>
</aside>
```

*/

.social-bar {
    position: fixed;
    background: $white;
    width: 100%;
    bottom: 0;
    z-index: index($layers, social-bar);
    box-shadow: -1px 1px 7px rgba($black, .2);

    @include media($screen-sm-min) {
        top: 38%;
        bottom: inherit;
        width: auto;
        box-shadow: 1px 2px 7px rgba($black, .2);
    }

    .social {
        padding: 5px 10px;
        display: inline-block;

        &.-whatsapp {
            @include media($screen-sm-min) {
                display: none;
            }
        }
    }
}
