/*doc
---
title: Summary
name: summary
category: 4.components
---

```html_example
<div class="summary">
    <header class="summary-header">
        <svg class="icon -summary">
            <use xlink:href="assets/images/svg/summary.svg#summary" />
        </svg>
        <h2 class="summary-heading">Summary</h2>
    </header>
    <div class="summary-content">
        <div class="summary-body">
            <table class="table -clean">
                <tbody>
                    <tr>
                        <td> Lodging </td>
                        <td colspan="2"> US$1,205.00 </td>
                    </tr>
                    <tr>
                        <td> Extras </td>
                        <td colspan="2"> US$100.00 </td>
                    </tr>
                    <tr>
                        <td> Web Deposit </td>
                        <td>
                            <span class="js-reservation-booking-deposit">0.00 €</span>
                            <form class="js-reservation-booking-deposit-form" id="reservation-booking-deposit-form" method="POST">
                                <div class="form-fields" style="display:none;">
                                    <table class="thin">
                                        <tbody>
                                            <tr>
                                                <td> <input type="hidden" id="js-booking-deposit-amount" value="0.00" /> <input class="input -tiny" id="id_booking_deposit" name="booking_deposit" placeholder="0.00" type="text" value="0.00 €" /> <a id="booking_channel_deposit_button" class="button -primary -small">Ok</a> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </td>
                        <td>
                            <a href="javascript:display_reservation_booking_deposit_form();">
                                <svg class="icon -pencil js-booking-deposit-pencil">
                                    <use xlink:href="assets/images/svg/pencil.svg#pencil"></use>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td> Discounts </td>
                        <td colspan="2"> US$0.00 </td>
                    </tr>
                    <tr>
                        <td> Taxes </td>
                        <td colspan="2"> 0.00 € </td>
                    </tr>
                    <tr>
                        <td> Paid </td>
                        <td colspan="2"> 120.00 € </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="summary-footer">
            <table class="table -clean">
                <tbody>
                    <tr>
                        <td>
                            <h2 class="summary-total">Balance:</h2>
                        </td>
                        <td> <span class="summary-total">1,185.00 €</span> </td>
                    </tr>
                </tbody>
            </table>
        </footer>
    </div>
</div>
```

*/

.summary {
    width: 240px;
    margin-left: auto;
    background-color: $white;
    border: 1px solid $white-5;

    &-header {
        @extend %flex-center-center;
        background-color: $white-5;
        border-radius: 3px 3px 0 0;
        text-transform: uppercase;
        font-weight: 500;
        padding: 10px 0;
    }

    &-heading {
        font-weight: 500;
        font-size: 16px;
        padding-top: 2px;
        margin-left: 5px;
    }

    &-content {
        padding: 10px 20px;

        p {
            font-size: 12px;
            line-height: 1.4;
        }
    }

    &-body {
        border-bottom: 1px solid $grey;
        margin-bottom: 2px;
    }

    &-footer {
        border-top: 1px solid $grey;
        padding-top: 7px;
    }

    &-total {
        font-size: 16px;
        font-weight: bold;
    }

    #reservation-booking-deposit-form {
        display: none;
        vertical-align: text-top;

        input {
            height: 30px;
            padding: 0 3px;
            vertical-align: middle;
            width: 57%;
        }
        .button {
            vertical-align: middle;
        }
    }
}
