/*doc
---
title: Toggle
name: toggles
category: 4.components
---

```html_example
<div class="toggle-container">
    <label for="id_enabled" class="toggle">
        <input id="id_enabled" name="enabled" type="checkbox" class="toggle-input">
        <span class="toggle-label" data-on="Habilitado" data-off="Deshabilitado"></span>
        <span class="toggle-handle"></span>
    </label>
</div>
```

*/

/*
 * Copyright (c) 2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

.toggle {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 54px;
    height: 24px;
    padding: 3px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: -6px;

    &-container {
        @extend %flex-fe-center;
        width: 170px;
        height: 28px;

        &.-large {
            height: 30px;

            .toggle-label {
                font-size: 18px;
                vertical-align: top;

                &:before {
                    margin-top: -8px;
                }
            }

        }

        &.-booking {
            position: absolute;
            top: 0;
            right: -3px;
        }
    }

    &-input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    &-label {
        @include gradient(darken($red, 5%));
        @include transition-property(opacity background);
        @include transition(.15s ease-out);
        position: relative;
        display: block;
        height: inherit;
        font-size: 16px;
        border-radius: inherit;
        box-shadow: inset 0 1px 2px rgba($black, .12), inset 0 0 2px rgba($black, .15);
        &:before,
        &:after {
            @include transition(inherit);
            position: absolute;
            top: 50%;
            right: 58px;
            margin-top: -7px;
            line-height: 1;
            color: $brown;
        }

        &:before {
            content: attr(data-off);
        }

        &:after {
            content: attr(data-on);
            opacity: 0;
        }

        .toggle-input:checked ~ & {
            @include gradient(darken($light-green, 5%));
            box-shadow: inset 0 1px 2px rgba($black, .15), inset 0 0 3px rgba($black, .2);

            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }
    }

    &-handle {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 22px;
        height: 22px;
        border-radius: 15px;
        box-shadow: 1px 1px 5px rgba(black, .2);
        background-color: $white;
        @include transition(left .15s ease-out);

        .toggle-input:checked ~ & {
            left: 28px;
            box-shadow: -1px 1px 5px rgba(black, .2);
        }
    }
}
