
.play-gif {
    position: absolute;
    width: 58px;
    height: 58px;
    line-height: 52px;
    text-align: center;
    background: #222222;
    font-size: 18px;
    color: white;
    border-radius: 50%;
    opacity: .9;
    border: 4px solid white;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        opacity:.5;
    }
}

.gifplayer-wrapper{
    position:relative;
    display: inline-block;
}
