.gldp {
    @include box-sizing(border-box);
    position: absolute;
    height: 233px;
    width: 212px;
    margin-top: 15px;
    z-index: 100000;
    box-shadow: 0 2px 10px rgba($black, .6);

    &:before, &:after {
        content: ' ';
        height: 0;
        position: absolute;
        right: 97px;
        width: 0;
        border: 9px solid transparent;
    }

    &:after {
        top: -18px;
        border-bottom-color: $blue;;
    }

    .core {
        background-color: $white;
        @include box-sizing(border-box);
        float: left;
        font-size: 12px;
        height: 31px;
        position: relative;
        text-align: center;
        width: 31px;
        line-height: 31px;
        cursor: pointer;
        color: $grey;
        font-weight: bold;

        &.-outday {
            background: $white-5;
            color: $grey-40;
            font-weight: normal;

            &:hover {
                color: $grey-40;
                background: $white-5;
            }
        }

        &.-noday {
            background: $grey-50;
            color: $grey-40;
            cursor: default;
        }

        &:hover {
            background: $grey-30;
            color: $white;
        }

        &.-selected {
            background-color: darken($blue, 5);
            color: $white;
        }
    }

    .dow {
        text-transform: uppercase;
        color: $white;
        font-size: 9px;
        height: 20px;
        line-height: 20px;
        font-weight: normal;
        cursor: auto;
        background-color: darken($blue, 3);

        &:hover {
            background-color: darken($blue, 3);
        }
    }

    .monyear {
        background-color: $blue;
        height: 33px;
        font-size: 14px;
        color: $white;
        text-align: center;
        min-width: 33px;
        cursor: pointer;
        @include box-sizing(border-box);

        &:hover {
            background-color: darken($blue, 5);
        }

        a {
            color: $white;
            font-size: 10px;
            text-decoration: none;
        }

        &.-title {
            cursor: auto;
            font-weight: bold;
            line-height: 34px;

            span {
                margin: 0 3px;
            }
        }
    }
}
