.mp_list {
    box-sizing: border-box;
    position: absolute;
    background-color: $blue;
    z-index: 10000;
    border-top: none;
    width: 200px;
    padding: 0 5px 5px 0;
    top: 24px;
    right: 0;
    border-radius: 0 0 4px 4px;

    & > .mp_item, & > .mp_no_results, .mp_min_chars, .mp_error {
        box-sizing: border-box;
        color: $blue-grey;
        font-size: 12px;
        padding: 5px 0 5px 30px;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;

        &.mp_highlighted {
            color: $white-10;

            & > .highlighted {
                color: $white;
            }
        }

        & > .highlighted {
            color: $blue-grey;
        }
    }

    > .mp_no_results {
        cursor: auto;
    }
    .modal & {
        background-color: $white;
        border: 1px solid $green-grey;
        border-top: none;
        width: 100%;

        .mp_item, .mp_no_results, .mp_min_chars, .mp_error {
            color: $brown;
            padding: 5px;
            font-size: 12px;
        }

        .mp_highlighted {
            color: $green-grey;
        }
    }
}

