.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    box-sizing: border-box;
}

.select2-container {
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: top;

    .select2-choice {
        display: block;
        height: 26px;
        padding: 0 0 0 8px;
        overflow: hidden;
        position: relative;
        border: 1px solid #aaa;
        white-space: nowrap;
        line-height: 26px;
        color: #444;
        text-decoration: none;
        border-radius: 4px;
        background-clip: padding-box;
        background-color: #fff;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
        background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
        background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
        background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
        background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
        background-image: linear-gradient(top, #ffffff 0%, #eeeeee 50%);

        span {
            margin-right: 26px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        abbr {
            display: block;
            width: 19px;
            height: 14px;
            position: absolute;
            right: 29px;
            top: 6px;
            font-size: 1px;
            text-decoration: none;
            border: 0;
            background: image-url('select2.png') right top no-repeat;
            cursor: pointer;
            outline: 0;
            background-color: white;

            &:hover {
                background-position: right -11px;
                cursor: pointer;
            }
        }
        div {
            display: block;
            width: 18px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            border-left: 1px solid #aaa;
            border-radius: 0 4px 4px 0;
            background-clip: padding-box;
            background: #ccc;
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
            background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
            background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
            background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%);
            background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
            background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);

            b {
                display: block;
                width: 100%;
                height: 100%;
                background: image-url('select2.png') no-repeat 0 1px;
            }
        }
    }

    /* Disabled styles */
    &.select2-container-disabled {

        .select2-choice {
            background-color: #f4f4f4;
            background-image: none;
            border: 1px solid #ddd;
            cursor: default;

            div {
                background-color: #f4f4f4;
                background-image: none;
                border-left: 0;
            }

            abbr {
                display: none;
            }
        }
    }
}

.select2-drop {
    width: 100%;
    margin-top:-1px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);

    &.select2-drop-above {
        margin-top: 1px;
        border-top: 1px solid #aaa;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);

        .select2-search input {
            margin-top: 4px;
        }
    }

    &-mask {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9998;
        opacity: 0;
    }
}


.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    z-index: 10000;
    white-space: nowrap;

    &-hidden {
        display: block;
        position: absolute;
        left: -10000px;
    }

    input {
        width: 100%;
        height: auto !important;
        min-height: 26px;
        padding: 4px 20px 4px 5px;
        margin: 0;
        outline: 0;
        font-family: sans-serif;
        font-size: 1em;
        border: 1px solid #aaa;
        border-radius: 0;
        box-shadow: none;
        background: #fff image-url('select2.png') no-repeat 100% -22px;
        background: image-url('select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
        background: image-url('select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
        background: image-url('select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
        background: image-url('select2.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
        background: image-url('select2.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
        background: image-url('select2.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);

        &.select2-active {
            background: #fff image-url('select2-spinner.gif') no-repeat 100%;
            background: image-url('select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
            background: image-url('select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
            background: image-url('select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
            background: image-url('select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
            background: image-url('select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
            background: image-url('select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
        }
    }
}

.select2-container-active {

    .select2-choice, .select2-choices {
        border: 1px solid #5897fb;
        outline: none;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
    }
}

.select2-dropdown-open {

    .select2-choice {
        border: 1px solid #aaa;
        border-bottom-color: transparent;
        box-shadow: 0 1px 0 #fff inset;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: #eee;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
        background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
        background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
        background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
        background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
        background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);

        div {
            background: transparent;
            border-left: none;
            filter: none;

            b {
                background-position: -18px 1px;
            }
        }
    }
}

/* Results */
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    .select2-result-sub {
        margin: 0;

        & > li .select2-result-label {
            padding-left: 20px
        }
    }

    li {
        list-style: none;
        display: list-item;
        background-image: none;

        &.select2-result-with-children > .select2-result-label {
            font-weight: bold;
        }

        em {
            background: #feffde;
            font-style: normal;
        }
    }

    .select2-result-label {
        padding: 3px 7px 4px;
        margin: 0;
        cursor: pointer;
    }

    .select2-highlighted {
        background: #3875d7;
        color: #fff;

        em {
            background: transparent;
        }

        ul {
            background: white;
            color: #000;
        }
    }

    .select2-no-results,
    .select2-searching,
    .select2-selection-limit {
        background: #f4f4f4;
        display: list-item;
    }

    /* Disabled look for disabled choices in the results dropdown */
    .select2-disabled {
        background: #f4f4f4;
        display: list-item;
        cursor: default;

        &.select2-highlighted {
            color: #666;
            background: #f4f4f4;
            display: list-item;
            cursor: default;
        }
    }

    .select2-selected {
        display: none;
    }

    .select2-more-results {
        background: #f4f4f4;
        display: list-item;

        &.select2-active {
            background: #f4f4f4 image-url('select2-spinner.gif') no-repeat 100%;
        }
    }
}

/* Multiselect */
.select2-container-multi {

    .select2-choices {
        height: auto !important;
        height: 1%;
        min-height: 26px;
        margin: 0;
        padding: 4px 0 0 4px;
        position: relative;
        border: 1px solid #aaa;
        cursor: text;
        overflow: hidden;
        background-color: #fff;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
        background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
        background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
        background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
        background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
        background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);

        li {
            float: left;
            list-style: none;
        }

        .select2-search-field {
            margin: 0;
            padding: 0;
            white-space: nowrap;

            input {
                height: 15px;
                padding: 5px;
                margin: 1px 0;
                font-family: sans-serif;
                font-size: 100%;
                color: #666;
                outline: 0;
                border: 0;
                box-shadow: none;
                background: transparent !important;

                &.select2-active {
                    background: #fff image-url('select2-spinner.gif') no-repeat 100% !important;
                }
            }
        }

        .select2-search-choice {
            padding: 3px 5px 3px 18px;
            margin: 0 4px 4px 0;
            position: relative;
            line-height: 13px;
            color: white;
            cursor: default;
            border-radius: 3px;
            background-clip: padding-box;
            background: #63A0FF;
            font-size: 11px;

            span {
                cursor: default;
            }

            &-focus {
                background: #d4d4d4;
                .select2-search-choice-close {
                    background-position: -47px -12px;
                }
            }
        }
    }

    &.select2-container-active {

        .select2-choices {
            border: 1px solid #5897fb;
            outline: none;
            box-shadow: 0 0 5px rgba(0,0,0,.3);
        }
    }

    .select2-search-choice-close {
        display: block;
        width: 12px;
        height: 13px;
        position: absolute;
        right: 3px;
        top: 4px;
        font-size: 1px;
        outline: none;
        background: image-url('select2.png') -47px -12px no-repeat;
        left: 3px;
    }

    /* Disabled styles */
    &.select2-container-disabled {

        .select2-choices {
            background-color: #f4f4f4;
            background-image: none;
            border: 1px solid #ddd;
            cursor: default;

            .select2-search-choice {
                padding: 3px 5px 3px 5px;
                border: 1px solid #ddd;
                background-image: none;
                background-color: #f4f4f4;

                .select2-search-choice-close {
                    display: none;
                }
            }
        }
    }
}

.select2-default {
    color: #999 !important;
}

.select2-locked {
    padding: 3px 5px 3px 5px !important;
}

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen {
    position: absolute;
    left: -10000px;
}
