/*doc
---
title: Buttons
name: buttons
category: 3.elements
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:


```html_example
<a class="button -primary" href="#" role="button">Primary</a>
<a class="button -secondary" href="#" role="button">Secondary</a>
<a class="button -tertiary" href="#" role="button">Tertiary</a>
<a class="button -header" href="#" role="button">Header</a>
<a class="button -login" href="#" role="button">Login</a>
<a class="button -cancel" href="#" role="button">Cancel</a>
<a class="button -delete" href="#" role="button">Delete</a>
<a class="button -disabled" href="#" role=button">Disabled</a>
<br><br>
<button class="button -primary" name="button">Primary</button>
<button class="button -secondary" name="button">Secondary</button>
<button class="button -tertiary" name="button">Tertiary</button>
<button class="button -header" name="button">Header</button>
<button class="button -login" name="button">Login</button>
<button class="button -cancel" name="button">Cancel</button>
<button class="button -delete" name="button">Delete</button>
<button class="button -disabled" name="button">Disabled</button>
```

#### Alternate buttons

```html_example
<a class="button -primary -alternate" href="#" role="button">Primary</a>
<a class="button -secondary -alternate" href="#" role="button">Secondary</a>
<a class="button -tertiary -alternate" href="#" role="button">Tertiary</a>
<a class="button -login -alternate" href="#" role="button">Login</a>
<button class="button -cancel -alternate" name="button">Cancel</button>
<button class="button -delete -alternate" name="button">Delete</button>
```

### Button sizes

```html_example
<a class="button -primary -large" href="#">Check In</a>
<a class="button -secondary -large" href="#" role="button">Add Room type</a>
<a class="button -tertiary -large" href="#" role="button">
    <svg class="icon -inside-button">
        <use xlink:href="assets/images/svg/print.svg#print" />
    </svg> Print
</a>
<br><br>
<a class="button -primary" href="#">Update info</a>
<a class="button -secondary" href="#">Add new room</a>
<a class="button -tertiary" href="#">Copy link</a>
<br><br>
<a class="button -primary -small" href="#">Undo Check In</a>
<a class="button -secondary -small" href="#" role="button">Add guest email</a>
<a class="button -tertiary -small" href="#" role="button">Send Email</a>
```

#### Buttons with Icons

```html_example
<a class="button -tertiary" href="#" role="button">
    <svg class="icon -inside-button">
        <use xlink:href="assets/images/svg/print.svg#print" />
    </svg> Print
</a>
<a class="button -secondary -file" href="#">
    <svg class="icon -upload">
        <use xlink:href="assets/images/svg/upload.svg#upload"></use>
    </svg>
    <input type="file" name="logo" id="file" class="input -file" data-multiple-caption="{count} files selected" multiple="">
    <label for="file">Add image</label>
</a>
```

#### Button loading

```html_example
<a class="button -primary -loading" href="#" role="button">Primary</a>
<a class="button -secondary -loading" href="#" role="button">Secondary</a>
<br><br>
<a class="button -primary -large -loading" href="#" role="button">Primary</a>
<a class="button -secondary -large -loading" href="#" role="button">Secondary</a>
```


*/

.button {
    @include box-sizing(border-box);
    @include user-select(none);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    font-family: $roboto;
    line-height: 1.6;
    padding: 5px 13px 3px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-font-smoothing: auto;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    @include media($screen-sm-max) {
        &.-mobile {
            width: 100%;
            margin-top: 15px;
        }
    }

    &:before {
        @extend %spin-before;
        @extend %spin-small;
        @extend %spin-alternate;
    }

    &:after {
        @extend %spin-after;
    }

    &.-primary {
        @include button($primary-color, $primary-border-color, $white);
    }

    &.-secondary {
        @include button($secondary-color, $secondary-border-color, $white);
    }

    &.-tertiary {
        @include button($tertiary-color, $tertiary-border-color, $grey-10);
    }

    &.-header {
        @include button($dark-header-color, $dark-header-border-color, $white);
    }

    &.-cancel {
        @include button($cancel-color, $cancel-border-color, $white);
    }

    &.-delete {
        @include button($delete-color, $delete-border-color, $white);
    }

    &.-login {
        @include button($login-color, $login-border-color, $white);
    }

    &.-disabled {
        @include button($disabled-color, $disabled-border-color, $grey-40);
        font-weight: normal;
        cursor: default;

        &:hover, &:active, &:focus, &.-alternate {
            outline: none;
            background-color: $disabled-color;
        }
    }

    &-container {
        @extend %flex-sb-center;
    }

    &.-hero {
        font-size: 24px;
        padding: 12px 30px;
        line-height: 1.4;
        white-space: normal;
        @include media($screen-sm-min) {
            font-size: 28px;
            line-height: 1.6;
        }
    }

    &.-large {
        font-size: 16px;
        padding: 9px 16px 8px;

        &:before {
            @extend %spin-button-large;
        }

        &.-loading {
            padding-right: 20px;

        }
    }

    &.-small {
        font-size: 10px;
        padding: 2px 10px 1px;
    }

    &.-full {
        width: 100%;
    }

    &.-loading {
        @extend %spin;

        &:before {
            @extend %spin-before-loading;
        }

        &:after {
            @extend %spin-after-loading;
        }
    }

    &.-icon {
        padding: 6px 6px 5px;
        background: transparent;
        border-color: transparent;
        display: inline-flex;
        box-shadow: none;
    }

    &.-file {
        height: 28px;
    }

    &:hover, &:active {
        text-decoration: none;
    }

    &.-right-top {
        position: absolute;
        right: 0;
        top: 0;
    }

    &-group {
        line-height: 29px;
        display: inline-block;
        float: left;

        & > li {
            display: inline-block;
            margin-right: 5px;

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
