/*doc
---
title: Icons
name: icons
category: 3.elements
---

### Header icons

```html_example
<div class="notifications">
    <div class="notifications-item">
        <svg class="icon -checkin">
            <use xlink:href="assets/images/svg/check-in.svg#check-in" />
        </svg>
        <span class="notifications-number">53</span>
    </div>
    <div class="notifications-item">
        <svg class="icon -checkout">
            <use xlink:href="assets/images/svg/check-out.svg#check-out" />
        </svg>
        <span class="notifications-number">26</span>
    </div>
    <div class="notifications-item">
        <svg class="icon -checkin -active">
            <use xlink:href="assets/images/svg/check-in.svg#check-in" />
        </svg>
        <span class="notifications-number">53</span>
    </div>
    <div class="notifications-item">
        <svg class="icon -checkout -active">
            <use xlink:href="assets/images/svg/check-out.svg#check-out" />
        </svg>
        <span class="notifications-number">26</span>
    </div>
</div>
```
### SVG icons

```html_example
<svg class="icon -book">
  <use xlink:href="assets/images/svg/book.svg#book" />
</svg>
<svg class="icon -user">
  <use xlink:href="assets/images/svg/user.svg#user" />
</svg>
<svg class="icon -summary">
  <use xlink:href="assets/images/svg/summary.svg#summary" />
</svg>
```

*/

.icon {
    width: 16px;
    height: 16px;
    fill: $default-icon;
    flex-shrink: 0;

    &-container {
        @extend %flex-sb-center;

        & > * {

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    &.-checkin, &.-checkout {
        width: 24px;
        height: 24px;
        fill: $header-icon;
        position: relative;
        z-index: index($notification-layers, icon);

        &.-active {
            fill: $header-icon-active;
        }
    }

    &.-circle-close, &.-undo, &.-replace {
        width: 18px;
        height: 18px;
        cursor: pointer;
        opacity: .4;
        vertical-align: middle;

        &:hover {
            opacity: 1;
        }
    }

    &.-undo {
        vertical-align: top;
    }

    &.-credit-card {
        width: 48px;
        height: 30px;
        box-shadow: 0 1px 1px rgba($black, .4);
        border-radius: 3px;
    }

    &.-inside-button {
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
        .button & {
            fill: $white;
        }
        .button.-tertiary & {
            fill: $grey-10;
        }
    }

    &.-inside-tab {
        display: inline-block;
        margin-right: 3px;
        vertical-align: bottom;
        width: 13px;
        height: 13px;
    }

    &.-upload {
        margin-right: 5px;
        fill: $white;
    }

    &.-inside-error {
        margin-right: 8px;
        fill: $black;

        .-options & {
            @include align-self(flex-start);
            margin-bottom: 5px;
        }
    }

    &.-alert {
        fill: $black;
        position: absolute;
        left: 16px;
        top: 14px;
        width: 24px;
        height: 24px;
    }

    &.-circle-user {
        width: 44px;
        height: 44px;
        fill: $grey-50;

        .print-fallback & {
            @include background(image-url("icon-circle-user.png") no-repeat);
        }
    }

    &.-dashboard {
        width: 23px;
        height: 23px;
    }

    &.-user {

        .print-fallback & {
            @include background(image-url("icon-user.png") no-repeat);
        }
    }

    &.-user-group {
        margin: 0 4px;
        vertical-align: middle;
    }

    &.-guest-profile {
        margin-right: 10px;
    }

    &.-summary {
        width: 20px;
        height: 20px;

        .print-fallback & {
            @include background(image-url("icon-summary.png") no-repeat);
        }
    }

    &.-info {
        opacity: .7;
        cursor: pointer;
    }

    &.-pencil, &.-config {
        opacity: .5;
        cursor: pointer;
        margin-left: 4px;

        &:hover {
            opacity: 1;
        }
    }

    &.-note {
        width: 14px;
        height: 14px;
    }

    &.-search {
        fill: $grey-30;
        width: 14px;
        height: 14px;
        stroke: $grey-30;
        stroke-width: 4;
        position: absolute;
        top: 7px;
        right: 8px;
    }

    &.-modal-search {
        fill: $grey;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 29px;
        left: 8px;
    }

    &.-arrow-right {
        width: 15px;
        height: 15px;
        margin-bottom: 3px;
    }

    &.-date {
        position: absolute;
        top: 6px;
        right: 4px;
        opacity: .8;
    }

    &.-room-type {
        margin-right: 10px;
        &.-inside-button {
            fill: white;
            margin: -3px 5px 0 0;
        }
    }

    &.-room {
        margin: 0 5px;
        width: 7px;
        height: 7px;

        &.-inside-button {
            fill: white;
            margin: -1px 5px 0 0;
        }
    }

    &.-settings {
        fill: white;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }

    &.-remove-guest {
        opacity: .5;

        &:hover {
            opacity: 1
        }
    }

    &.-help {
        width: 20px;
        height: 20px;
        margin-top: 4px;
        fill: #3d4d73;
    }

    &.-medium {
        width: 24px;
        height: 24px;
    }

    &.-large {
        width: 32px;
        height: 32px;
    }

    &.-big {
        width: 48px;
        height: 48px;
    }

    .public & {
        fill: $grey-20;
    }

    .social & {
        vertical-align: middle;
        border-radius: 3px;
    }
}
