/*doc
---
title: Images
name: images
category: 3.elements
---

### Thumbnail

```html_example
<div class="thumbnail">
    <img src="assets/images/testimonial-1.png" alt="Testimonial face">
</div>
```

### Thumbnail Add
```html_example
<ul class="thumbnail-list">
    <li class="thumbnail -alternate">
        <a href="#" class="delete-photo" data-id="423">x</a>
        <img id="logo-placeholder" src="https://uploads-bananadesk-staging.s3.amazonaws.com/room-type-photos/2016/09/28/1475091545/room-type-photos/2016/09/27/1475008167/IMG_1553.jpg">
    </li>
    <li>
        <a class="thumbnail-add" href="#0" action="addPhoto">
            <p class="thumbnail-add-message">There are no photos for this room.</p>
            <p class="thumbnail-add-action">Add photo</p>
        </a>
    </li>
    <li>
        <a class="thumbnail-add" href="#0" action="addPhoto">
            <p class="thumbnail-add-action">Add another photo</p>
        </a>
    </li>
</ul>
<ul class="thumbnail-list errors">
    <li>
        <a class="thumbnail-add" href="#0" action="addPhoto">
            <p class="thumbnail-add-message">There are no photos for this room.</p>
            <p class="thumbnail-add-action">Add photo</p>
        </a>
    </li>
</ul>
```

### Account logo

```html_example
<div class="logo-account">
    <img src="assets/images/testimonial-1.png" alt="Account logo">
</div>
```

*/

.thumbnail {
    display: inline-block;
    background-color: $grey;
    padding: 6px;
    border-radius: 3px;
    margin: 0 10px 15px 0;
    text-align: center;
    line-height: 0;

    .thumbnail-list & {
        align-self: flex-start;
        list-style-type: none;
    }

    &.-alternate {
        background-color: $white;
        border: 1px solid $grey-20;
        position: relative;
    }

    img {
        width: 115px;
    }

    .public & {
        margin: 0 0 15px 0;
        min-width: 200px;
    }

    &-add {
        width: 130px;
        text-align: center;
        border: 1px dashed $grey-10;
        border-radius: 3px;
        padding: 8px 6px;
        min-height: 90px;
        @extend %inline-flex-center-center;
        @include flex-direction(column);
        @include transition(border-color .3s ease-in-out);

        &:hover {
            border-color: $grey;
        }

        .errors & {
            border: 0;
            background-color: $error;
        }

        &-message {
            margin-bottom: 8px;
            font-size: 12px;

            .errors & {
                color: $white;
            }

        }

        &-action {
            font-family: $roboto;
            font-weight: bold;
            margin-bottom: 0;
            font-size: 14px;
            color: $link;

            .errors & {
                color: $white;
            }
        }
    }

    &-list {
        @include display(flex);
    }
}

.logo {

    &-header {
        width: 131px;
        height: 22px;

        .public & {
            width: 100px;
            @include media($screen-xs-min) {
                width: 131px;
                vertical-align: middle;
            }
        }
    }

    &-hostel {
        padding: 10px;
        border: 1px solid $grey-40;
        border-radius: 3px;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;

        img {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-height: 100%;
        }

        &.-print {
            max-height: 56px;
            padding: 0;
            margin-bottom: 0;
            border: 0;
            border-radius: 0;
            align-self: center;
        }
    }

    &-public {
        flex-shrink: 0;

        .blog & {
            position: relative;

            &:after {
                content: attr(title) " ";
                position: absolute;
                top: 1px;
                right: -48px;
                color: $grey-10;
                font-family: $roboto;
                font-weight: bold;
                font-size: 20px;
                @include media($screen-xs-min) {
                    top: 0;
                    right: -54px;
                    font-size: 24px;
                }
            }
        }
    }
}

.hostel {

    &-logo {
        max-width: 44%;
        margin-top: 15px;
        @include filter(grayscale(100%));
        @include media($screen-xs-min) {
            max-width: 14%;
        }

        &:hover {
            @include filter(grayscale(0%));
        }

        &-container {
            @extend %flex-sa-center;
            @include flex-wrap(wrap);
            border-top: 1px solid rgba($black, .05);
            padding-top: 10px;
        }
    }
}

.account {
    width: 18px;
    height: 18px;
    position: relative;
    text-align: right;

    > img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 2px;
    }
}

img {

    .social & {
        vertical-align: middle;
    }
}

.picture {
    border-radius: 4px;
    background: $white;
    border: 1px solid $grey-40;
    padding: 10px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.gif {
    border: 1px solid $grey-30;
}
