/*doc
---
title: Links
name: links
category: 3.elements
---

```html_example
<a href="#">Link a otro lugar</a>
```

*/

a {
    color: $link;
    text-decoration: none;
    cursor: pointer;

    &:hover, &:active {
        text-decoration: none;
        color: darken($link, 20);
    }

    &.active {
        color: $grey;
    }

    .footer & {
        font-weight: bold;
    }

    .big-footer & {
        font-weight: normal;
        line-height: 1.4;
    }
}
