/*doc
---
title: Lists
name: lists
category: 3.elements
---

### Ordered list

```html_example
<ol>
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ol>
```

### Unordered list

```html_example
<ul>
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>
```

*/

.terms {
    font-size: 22px;
    list-style-position: inside;
    margin-bottom: 10px;
    color: $grey;

    li {
        margin-bottom: 25px;
    }

    ul {
        margin-top: 10px;
        & > li {
            list-style-type: none;
            font-size: 15px;
            line-height: 1.5;
            margin-bottom: 20px;
            color: $grey-10;
        }
    }
}

ol {

    .article & {
        list-style: decimal;
        padding: 15px 0 15px 20px;

        li {
            line-height: 1.4;
            margin-bottom: 15px;
        }
    }

}

ul {

    .article & {
        padding: 15px 0;
        list-style: none;
    }

    li {
        line-height: 1.7;

        .article & {
            padding-left: 26px;
            position: relative;
            margin-bottom: 15px;

            &:before {
                content: "\203A";
                color: $orange;
                position: absolute;
                left: -4px;
                top: -44px;
                font-size: 64px;
            }
        }
    }

    &.thumbnail-list {

        li {
            list-style-type: none;
            margin: 0 10px 10px 0;
        }
    }
}

ul, ol {

    .article & {
        font-size: 16px;
        line-height: 1.6;
        color: $grey;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }


    .social-bar & {
        padding: 7px 0;
        list-style-type: none;
        @extend %flex-center-center;
        @include media($screen-sm-min) {
            @include flex-direction(column);
            align-items: flex-start;
        }
    }

    li {

        & > ul, & > ol {
            margin-bottom: 0;
        }

        .big-footer & {
            list-style-type: none;
            margin-bottom: 10px;
            color: $grey-10;
            font-size: 14px;
        }
    }
}

dl {
    line-height: 1.4;

    dt {
        font-weight: bold;
    }

    dd {
        margin-bottom: 20px;
    }
}
