/*doc
---
title: Micros
name: micros
category: 3.elements
---

### Horizontal rule

```html_example
<hr>
```

*/

hr {
	border-top: 1px solid $white-5;
	margin-bottom: 30px;
}

.sync-state {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $grey;
    cursor: pointer;

    &.-warning {
        background-color: $warning;
    }

    &.-ok {
        background-color: $green;
    }

    &.-critical {
        background-color: $red;
    }
}
