/*doc
---
title: Typography
name: typography
category: 3.elements
---

### Paragraph
```html_example
<h1>h1. BananaDesk heading <small>Secondary text</small></h1>
<h2>h2. BananaDesk heading <small>Secondary text</small></h2>
<h3>h3. BananaDesk heading <small>Secondary text</small></h3>
<h4>h4. BananaDesk heading <small>Secondary text</small></h4>
<h5>h5. BananaDesk heading <small>Secondary text</small></h5>
<h6>h6. BananaDesk heading <small>Secondary text</small></h6>
```
#### Paragraph

```html_example
<p>Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
```

#### Featured

```html_example
<p class="featured">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
```

#### Lead text

```html_example
<p class="lead-text">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
```

#### Strong

```html_example
<p><strong>Grumpy wizards make toxic brew for the evil Queen and Jack.</strong></p>
```

#### Note

```html_example
<p class="note">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
```


#### Help text

```html_example
<p class="help-text">Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
```

*/

//@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

$main_font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helvetica-neue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$roboto: "Roboto", $helvetica-neue;

body {
    font-family: $roboto;
}

h1, h2, h3, h4, h5, h6, p {
    color: $grey;

}

h1, h2, h3, h4, h5, h6 {
    font-family: $roboto;

    .article-content & {
        color: $grey;
        padding: 10px 0 15px;
    }
}

h1 {
    font-size: 2.074em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.728em;
    line-height: 1.4em;
}

h3 {
    font-size: 1.44em;
    line-height: 1.4em;
}

h4 {
    font-size: 1.2em;
    line-height: 1.3em;
}

h5 {
    font-size: 1.1em;
    line-height: 1.2;
}

h6 {
    font-size: 1em;
}


p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;

    .footer & {
        color: $grey-20;
        font-size: 11px;
        font-weight: lighter;
        margin-bottom: 0;
    }

    .big-footer & {
        color: $grey-10;
        font-weight: lighter;
    }

    .article & {
        font-size: 16px;
        line-height: 1.6em;
        color: $grey;
    }

    .article-media-info & {
        margin-bottom: 0;
    }

    .card-copy & {
        line-height: 1.4em;
        font-size: .9em;
        color: $grey;
    }

    .tabordion-content & {
        font-size: 14px;
    }
}

blockquote {
    margin: 1.6em 0em 1.6em 1em;
    padding: .5em 10px;
    quotes: "“" "”" "‘" "’";
    line-height: 1.5;
    font-size: 20px;
    opacity: 0.85;

    &:before {
        color: $grey-20;
        content: open-quote;
        font-size: 4em;
        line-height: .1em;
        margin-right: .25em;
        vertical-align: -.4em;
    }
}

strong {
    font-weight: bold;
}

small, .small {
    font-size: 70%;
    opacity: .7;
}

.heading {
    font-size: 2.4em;
}

.subheading {
    font-size: 1.4em;
    margin-bottom: 10px;
    line-height: 1.3;
}

.hero-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
    line-height: 1.3;
    padding: 0 25px;

    @include media($screen-sm-min) {
        font-size: 44px;
    }
}

.kicker {
    font-size: 0.813em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: $grey-10;
    line-height: 1.4;
}

.note {
    color: $note;
}

.featured {
    font-size: 16px;
}

.lead-text {
    font-size: 20px;
}

.text-center {
    text-align: center;
}

.help-text {
    margin-top: 10px;
    color: $grey-10;

    .public & {
        color: $grey-20;
        font-size: 0.9em;
        margin: 20px 0;
    }
}

.inner-help {
    display: block;
    line-height: 1.4;
    font-size: 9px;
    margin-top: 3px;

    &.-large {
        font-size: 12px;
        margin-top: 7px;
        margin-bottom: 0;
    }
}

.pricing-number {
    text-align: center;
    font-size: 10em;
    line-height: 1;
    letter-spacing: -0.1em;
    margin-bottom: 20px;

    span {
        font-size: 0.7em;
        font-weight: normal;
    }
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: no-wrap;
}

