/*doc
---
title: Animations
name: animations
category: 2.base
---

### Spin
```html_example
<div class="spin"></div>
```

### Spin small
```html_example
<div class="spin -small"></div>
```

### Spin header
```html_example
<div class="header-search">
    <svg class="icon -search">
        <use xlink:href="assets/images/svg/mag-glass.svg#mag-glass"></use>
    </svg>
    <input id="banana-search" type="text" class="input -search mp_input" name="q" placeholder="Search" aria-autocomplete="list" aria-owns="mp_q_list" autocomplete="off" role="search" aria-required="false">
    <div class="spin -small -header"></div>
</div>
```

*/

.glow {
    position: relative;
    z-index: 1;
    @include transition(color 0.7s);
    &:focus {
        outline: none;
        color: $light-blue;
    }
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -15px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        opacity: 0;
        pointer-events: none;
        background: $light-blue;
        animation: glow 1s infinite;
        z-index: -1;
    }
    &.-soften {

        &::before {
            background: lighten($light-blue, 20%);
        }
    }
}

%spin {
    pointer-events: none;
    cursor: not-allowed;
    position: relative;
}

%spin-before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border: 5px solid $orange;
    border-left-color: transparent;
    border-radius: 50%;
    right: 8px;
    top: 5px;
    @include animation(spin 1s linear infinite);
    @include opacity(0);
    @include transition(opacity 1s);

    &-loading {
        @include opacity(1);
    }
}

%spin-after {
    content: "";
    display: inline;
    height: 100%;
    width: 0px;
    @include transition(width 1s);

    &-loading {
        width: 20px;
    }
}

%spin-small {
    width: 16px;
    height: 16px;
    border-width: 3px;
    left: auto;
}

%spin-button-large {
    right: 12px;
    top: 13px;
}

%spin-alternate {
    border-color: rgba($white, .8);
    border-top-color: rgba($white, .12);
}

.spin {
    @extend %spin;

    &:before {
        @extend %spin-before;
    }
}

.slideOutLeft {
    animation-name: slideOutLeft;
}

.slideOutRight {
    animation-name: slideOutRight;
}

.slideInRight {
    animation-name: slideInRight;
}

.slideInLeft {
    animation-name: slideInLeft;
}
