/* doc
---
title: Root
name: root
category: 2.base
---

*/

body {
    background: $white-10;

    &.public {
        background: $white;
    }
}

.content {
    padding: 0 0 50px;
    background-color: $white;

    &.-calendar {
        padding: 99px 0 0;
        box-shadow: none;
        background-color: transparent;

        &.-add-nights {
            position: relative;
            z-index: index($layers, add-nights);
        }
    }
}

.wrapper {
    width: 980px;
    margin: 0 auto;

    @include media($screen-lg-min) {
        width: 1160px;
    }

    &.-public {
        @extend %flex-sb-center;
        width: 100%;
        @include media($screen-md-min) {
            width: 952px;
        }
    }
}
