/*doc
---
title: Grids
name: grids
category: 2.base
---

```html_example
<div class="grid">
    <div class="grid-col"><p>Column 1</p></div>
</div>
<div class="grid">
    <div class="grid-col -col2"><p>Column 1</p></div>
    <div class="grid-col -col2"><p>Column 2</p></div>
</div>
<div class="grid">
    <div class="grid-col -col3"><p>Column 1</p></div>
    <div class="grid-col -col3"><p>Column 2</p></div>
    <div class="grid-col -col3"><p>Column 3</p></div>
</div>
<div class="grid">
    <div class="grid-col -col4"><p>Column 1</p></div>
    <div class="grid-col -col4"><p>Column 2</p></div>
    <div class="grid-col -col4"><p>Column 3</p></div>
    <div class="grid-col -col4"><p>Column 4</p></div>
</div>
<div class="grid">
    <div class="grid-col -col6"><p>Column 1 of 6</p></div>
    <div class="grid-col -col2of6"><p>Column 2 of 6</p></div>
    <div class="grid-col -col3of6"><p>Column 3 of 6</p></div>
</div>
```

*/

// Basic grid Styles

.grid {
    @include outer-container;
    max-width: 74em;
    margin-bottom: 20px;

    &:only-of-type {
        margin-bottom: 0;
    }

    &.-center {
        @extend %flex-center-center;
        @include flex-direction(column);
        @include media($screen-sm-min) {
            @include flex-direction(row);
            @include display(flex);
            @include justify-content(center);
            @include align-items(flex-start);
        }
    }

    &.-column-on-xs {
        @include media($screen-xs-max) {
            @include display(flex);
            @include flex-direction(column-reverse);
        }
    }

    &.-large {
        margin-bottom: 50px;
    }

    &.-distributed {
        @extend %flex-sb-fs;
    }

    .big-footer & {
        max-width: $md-min;
    }

    &-col {
        @include span-columns(12);
        @include omega;

        &.-col2 {
            @include span-columns(12);
            @include omega(2n);

            @include media($screen-xs-min) {
                @include span-columns(6);
            }

            &.-center {
                @include shift(3);
            }
        }

        &.-col3 {
            @include span-columns(12);
            @include omega(3n);
            @include media($screen-sm-min) {
                @include span-columns(4);
            }

            &.-print {
                @include span-columns(4);
            }
        }

        &.-col2of3 {
            @include span-columns(12);
            @include omega(3n);
            @include media($screen-xs-min) {
                @include span-columns(8);
            }

            &.-center {
                @include shift(2);
            }
        }

        &.-col1of3 {
            @include span-columns(12);
            @include omega(3n);
            @include media($screen-xs-min) {
                @include span-columns(4);
            }

            &.-center {
                @include shift(4);
            }
        }

        &.-col4 {
            @include span-columns(12);
            @include media($screen-xs-min) {
                @include span-columns(3);
                @include omega(4n);
            }
        }

        &.-col2of4 {
            @include span-columns(12);
            @include media($screen-sm-min) {
                @include span-columns(6);
                @include omega(6n);
            }

            &.-center {
                @include shift(3);
            }
        }

        &.-col3of4 {
            @include span-columns(12);
            @include media($screen-sm-min) {
                @include span-columns(9);
                @include omega(3n);
            }
        }

        &.-col6 {
            @include span-columns(12);
            margin-bottom: 20px;
            @include media($screen-sm-min) {
                margin-bottom: 0;
                @include span-columns(2);
                @include omega(6n);
            }

            &-shift {
                @include shift(6);
            }
        }

        &.-col8 {
            @include span-columns(12);
            @include media($screen-xs-min) {
                @include span-columns(8);
                @include omega(8n);
            }

            &-shift {
                @include shift(8);
            }
        }

        &.-col10 {
            @include span-columns(12);
            @include media($screen-sm-min) {
                @include span-columns(10);
                @include omega(10n);
            }

            &-shift {
                @include shift(10);
            }
        }

        &.-col2of6 {
            @include span-columns(12);
            margin-bottom: 20px;
            @include media($screen-sm-min) {
                margin-bottom: 0;
                @include span-columns(4);
                @include omega(6n);
            }
        }

        &.-col3of6 {
            @include span-columns(12);
            margin-bottom: 20px;
            @include media($screen-sm-min) {
                margin-bottom: 0;
                @include span-columns(6);
                @include omega(4n);
            }
        }

        &.-sixty {
            width: 60%;
        }

        &.-flex-right {
            @extend %flex-fe-center;
        }

        &.-center {
            @extend %flex-center-center;
        }

        &.-column {
            @include flex-direction(column);
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}
