/*doc
---
title: Media object
name: media-object
category: 2.base
---

The Media object is an OOCSS approach to <a href="http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/" target="_blank">save hundred of lines of code</a>

#### Media
```html_example
<div class="grid">
    <div class="grid-col -col2">
        <div class="media">
            <svg class="media-figure icon -circle-user">
                <use xlink:href="../assets/images/svg/circle-user.svg#circle-user" />
            </svg>
            <div class="media-body">
                <h1 class="reservation-heading">Guest with a long, long, long, name</h1>
                <h2 class="reservation-date">
                    <time datetime="2016-03-10" class="checkin">Thu, Mar 10</time>
                    <time datetime="2016-03-11">Fri, Mar 11</time>
                </h2>
            </div>
        </div>
    </div>
</div>
```

#### Media reverse
```html_example
<div class="grid">
    <div class="grid-col -col2">
        <div class="media -reverse">
            <svg class="media-figure icon -circle-user">
                <use xlink:href="../assets/images/svg/circle-user.svg#circle-user" />
            </svg>
            <div class="media-body">
                <h1 class="reservation-heading">Guest with a long, long, long, name</h1>
                <h2 class="reservation-date">
                    <time datetime="2016-03-10" class="checkin">Thu, Mar 10</time>
                    <time datetime="2016-03-11">Fri, Mar 11</time>
                </h2>
            </div>
        </div>
    </div>
</div>
```
*/


.media {
    @include display(flex);
    @include justify-content(flex-start);

	&-figure {
		margin-right: 15px;

        .guest-card & {
            margin-right: 25px;
        }
	}

	&-body {

        &.-larger {
            font-size: 32px;
        }

        &.-vcenter {
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
        }

        .guest-card & {
            width: 100%;
        }
 	}

    &.-center {
        @include align-items(center);
        @include justify-content(center);
    }

    &.-vcenter {
        @include align-items(center);
    }

    &.-hcenter {
        @include justify-content(center);
    }

    &.-reverse {

        .media-figure {
            order: 1;
            margin: 0 0 0 1em;
            flex-shrink: 0;
        }
    }

    &.-distributed {
        @include justify-content(space-between);
    }

    &.-vertical {
        flex-direction: column;
    }

 	&.-calendar-room-type {
        @extend %flex-center-center;
        @include flex-direction(column);
        margin: 0 auto;

        .media-figure {
		    margin: 0 0 3px 0;
            text-align: center;
		}

        .media-body {
            font-size: 12px;
            line-height: 1.2em;
            letter-spacing: .5px;
            text-align: center;
            margin: 0;
            color: $grey-10;
        }

        .one-bed-room & {
            flex-direction: row;
            @include align-items(center);

            .media-figure {
                margin: 0 6px 0px 0;
            }

            .media-body {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &.-testimonial {
        flex-direction: column;
        align-items: center;
        @include media($screen-sm-min) {
            flex-direction: row;
            align-items: flex-start;
        }
    }
}
