/*doc
---
title: Calendar
name: calendar
category: 5.sections
---

*/

.today {

    .calendar-header & {
        background: darken($grey-50, 5);
    }

    .calendar-body & {
        background: rgba($white-5, .6);;

        &:not(.status) {
            .action-container {
                border-bottom: 1px solid $white-10;
            }
        }
    }
}

.calendar {
    width: 100%;
    z-index: index($layers, calendar-content);

    &-header {
        margin: 0;
        position: fixed;
        z-index: index($calendar-layers, header);
        top: 99px;
        width: 100%;
        table-layout: fixed;

        th {
            background: $grey-50;
            border: 1px solid $grey-40;
            font-weight: normal;
            text-align: center;
            font-size: 11px;
            line-height: 1.2em;
            padding: 10px 3px;
            vertical-align: middle;

            .-monthly & {
                padding: 7px 3px 5px;
            }

            &:first-child {
                text-align: center;
                font-size: 13px;
                width: 9%;
            }

            &:nth-child(2) {
                font-size: 12px;
            }

        }

        .calendar-day {
            font-size: 24px;
            margin-right: 6px;
        }

        .calendar-weekday {
            display: block;
            font-weight: bold;
            text-transform: uppercase;
        }

        .calendar-weekday, .calendar-month {
            text-align: left;
        }
    }

    &-body {
        margin: 47px 0 73px;
        position: relative;
        z-index: index($calendar-layers, body);
        overflow: hidden;
        table-layout: fixed;

         .calendar.-loading & {
            position: fixed;
            width: 98%;
        }

        .calendar.-monthly & {
            margin-top: 57px;
        }

        td {
            position: relative;
            height: 30px;
            padding: 0;

            &[rowspan] {
                border: 0;
                width: 9%;
                padding: 5px 10px;
                pointer-events: none;
                border-left: 1px solid $white-15;

                &.one-bed-room {
                    padding: 4px 5px 1px;
                }
            }

            @for $i from 1 through 30 {

                &:nth-child(#{$i}) {

                    &.-holder {
                        z-index: $i + 10 !important;

                        & ~ .status:not(.-holder) {
                            z-index: $i + 9;
                        }
                    }

                    &.-block-start {
                        z-index: $i + 10 !important;

                        & ~ .-block:not(.-block-start) {
                            z-index: $i + 9;
                        }
                    }
                }
            }

            &:not(.status) {
                z-index: 200 + index($calendar-status, normal);
            }

            &:last-child {
                overflow: hidden;
            }
        }

        tr {
            border: 1px solid $white-10;
            background: $white;

            &:last-child {

                td {
                    border-bottom: none;
                }
            }

            td {

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    &-date {

        .-monthly & {
            flex-direction: column;

            .calendar-day {
                margin: 0 0 4px;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    &-floating-block {
        pointer-events: none;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 199;
    }

    &.-loading {
        position: relative;

        &:before {
            content: "";
            background: rgba($grey, .6);
            top: 99px;
            bottom: 0;
            right: 0;
            left: 0;
            height: 100%;
            position: fixed;
            z-index: 3;
        }

        &:after {
            content: "";
            width: 100px;
            height: 100px;
            border-radius: 50%;
            -webkit-box-sizing: border-box;
            border: 19px solid rgba($white, .45);
            border-top-color: $white;
            display: inline-block;
            position: fixed;
            right: 45%;
            top: 43%;
            z-index: 4;
            @include animation(spinner .7s infinite linear);
            @include transition(all .3s ease);
        }
    }

    .-add-nights & {
        z-index: 201;
        position: relative;
    }
}

.status {
    @extend %status;

    &-label {
        padding-left: 8px;
        color: $white;
        margin: 0;
        line-height: 1;
        font-size: 11px;
        pointer-events: none;
    }

    &.-in-house {
        background: $in-house;

        &:last-child {
            overflow: hidden;
        }

        &.-resize-diff {
            background: $in-house-resize;
        }
    }

    &.-confirmed {
        background: $confirmed;

        &.-resize-diff {
            background: $confirmed-resize;
        }
    }

    &.-unconfirmed {
        background: $unconfirmed;

        &.-resize-diff {
            background: $unconfirmed-resize;
        }
    }

    &.-checked-out {
        background: $checked-out;

        &.-resize-diff {
            background: $checked-out-resize;
        }
    }

    &.-block {
        background: $blocked;
        text-transform: uppercase;

        &.-resize-diff {
            background: $blocked-resize;
        }

        .payment-view & {
            background: $login;
        }
    }

    &.-paid {

        .payment-view & {
            background: $paid;

            &.-resize-diff {
                background: $paid-resize;
            }
        }
    }

    &.-debt {

        .payment-view & {
            background: $debt;

            &.-resize-diff {
                background: $debt-resize;
            }
        }
    }

    &:not(.-holder), &:not(.-block-start) {
        border-left: none;
    }

    &.-holder, &.-block-start {
        border-left: 1px solid $grey-50;
        position: relative;
        white-space: nowrap;
        overflow: visible;
    }

    &.-creating {
        background-color: $unconfirmed-resize;
        cursor: se-resize;
        z-index: 100 !important;
    }

    &.-moving-drop-target {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $grey;
        z-index: 200 !important;

        &.-moving {
            @extend %spin;

            &:before {
                @extend %spin-before;
                @extend %spin-small;
                @extend %spin-alternate;
                @extend %spin-before-loading;
                top: 6px;
            }
        }
    }

    &.-resize-diff {
        cursor: ew-resize;

        &.-resizing {
            @extend %spin;

            &:before {
                @extend %spin-before;
                @extend %spin-small;
                @extend %spin-alternate;
                @extend %spin-before-loading;
            }
        }
    }
}

.add-nights {

    &-container {
        position: fixed;
        z-index: $negative-z-index;
        left: 0;
        right: 0;
        background: $grey;

        &.-header {
            top: 0;
            height: 99px;
            @extend %flex-center-center;
        }

        &.-footer {
            bottom: 0;
            height: 73px;
            @extend %flex-center-center;
        }

        .-add-nights & {
            z-index: 202;
        }
    }

    &-overlay {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        background: $grey;

        .-add-nights & {
            display: block;
        }
    }

    &-message {
        font-size: 18px;
        margin-bottom: 0;
        color: $white;

        .-header & {
            font-size: 22px;
        }
    }

}
