/*doc
---
title: Footer
name: footer
category: 5.sections
---

```html_example
<div class="footer">
  <div class="wrapper">
    <p>© 2015 by SafeHostel, LLC. Use of this site is subject to express <a href="/terms-of-use">Terms of Use</a> &amp; <a href="/privacy-policy">Privacy Policy</a>.</p>
  </div>
</div>
```

*/

.footer {
    background: $white-15;

    &.-calendar {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: index($layers, footer);
    }

    &.-fixed {
        @include media($screen-xs-min) {
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }

    &-heading {
        color: $grey;
        margin-bottom: 15px;
    }
    &-info {
        padding: 7px 20px;
    }

    &.-public {
        margin-top: 70px;
    }
}

.big-footer {
    background: $white-10;
    border-top: 1px solid $grey-50;
    padding: 40px 20px;
    @include media($screen-lg-min) {
        padding: 40px 0;
    }

    a {
        font-weight: normal;
        line-height: 1.4;
    }
}
