/*doc
---
title: Room info
name: room-info
category: 5.sections
---

```html_example

<div class="room-info">
    <div class="room-info-header">
        <h3 class="room-info-name">Room type</h3>
    </div>
    <div class="grid room-info-body">
        <div class="grid-col -col2 room-info-description">
            <form action="" method="POST">
                <div class="form-group">
                    <label for="id_widget_name">Public Name:</label>
                    <input class="input" id="id_widget_name" maxlength="64" name="name" type="text" value="">
                </div>
                <div class="form-group">
                    <label for="id_widget_description">Public Description:</label>
                    <textarea class="textarea" id="id_widget_description" name="widget_description"></textarea>
                </div>
            </form>
        </div>
        <div class="grid-col -col2 room-info-images">
            <div class="thumbnails-block">
                <div class="form-group">
                    <h4 class="form-subheading">Photos <a href="#" action="addPhoto">Add photo</a></h4>
                    <ul class="thumbnails-block__list">
                        <li class="thumbnail">
                            <img id="logo-placeholder" src="https://uploads-bananadesk.s3.amazonaws.com/logos/2015/07/31/1438361441/logo.jpg">
                        </li>
                        <li class="thumbnail">
                            <img id="logo-placeholder" src="https://uploads-bananadesk.s3.amazonaws.com/logos/2015/07/31/1438361441/logo.jpg">
                        </li>
                        <li class="thumbnail">
                            <img id="logo-placeholder" src="https://uploads-bananadesk.s3.amazonaws.com/logos/2015/07/31/1438361441/logo.jpg">
                        </li>
                        <li class="thumbnail">
                            <img id="logo-placeholder" src="https://uploads-bananadesk.s3.amazonaws.com/logos/2015/07/31/1438361441/logo.jpg">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
```
*/

.room-info {
    @include outer-container;
    margin-bottom: 25px;
    border-radius: 4px;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    &-header {
        padding: 10px 15px;
        background: $white-10;
        @extend %flex-sb-center;
    }

    &-name {
        font-weight: bold;
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
    }

    &-body {
        padding: 25px 20px;
        background: $white-5;
        display: flex;
    }
}
