.hide-element {
    display: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.align-middle {
    vertical-align: middle;
}

.right {
    float: right;
}

// Responsive visibility utilities
@each $bp in map-keys($grid-breakpoints) {
    .hidden-#{$bp}-up {
        @include media-breakpoint-up($bp) {
            display: none !important;
        }
    }
    .hidden-#{$bp}-down {
        @include media-breakpoint-down($bp) {
            display: none !important;
        }
    }
}
