// #ajax-message {
//   float: left;
// }

// Confirmation popup (should be replaced with messages outlined above). Using this in places
// where there is no page refresh (like sending an email)
#overlay-inner-box {
  > h2#confirmation-message {
    font-family: $helvetica;
    font-size: 20px;
  }
}